﻿@model ManageProject.Models.Databases

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div id="Details">
 
    <table class="table table-bordered" style="background-color:lightgreen">
        
        <tr>
            <td><strong>Instance Name</strong></td>
            <td>@Html.DisplayFor(model => model.InstanceName)</td>
        </tr>
        <tr>
            <td><strong>Database Name</strong> </td>
            <td>@Html.DisplayFor(model => model.DatabaseName)</td>
        </tr>
        <tr>
            <td><strong>UserName</strong></td>
            <td> @Html.DisplayFor(model => model.UserName)</td>
        </tr>
        <tr>
                <td><strong>Password</strong></td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.DisplayFor(model => model.Password)
                    }

                    else
                    {
                        <p>Your Account don't watch</p>
                    }
                </td>
            </tr>
            <tr>
                <td><strong>Create Date</strong></td>
                <td class="text-center " style="font-size:smaller;color:black"><strong>@Html.DisplayFor(model => model.Createby)</strong>  <br /><strong> @Html.DisplayFor(model => model.Createdate)</strong> </td>

            </tr>
            <tr>
                <td><strong>Update Date</strong></td>
                <td class="text-center" style="font-size:smaller;color:black"><strong>@Html.DisplayFor(model => model.Updateby)</strong>  <br /><strong>@Html.DisplayFor(model => model.Updatedate)</strong> </td>

            </tr>
    </table>
 
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Database }, new { @class = "btn btn-sm btn-primary" })
    <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>
</p>
