﻿@model IEnumerable<Databases>
@using Microsoft.AspNet.Identity
@using ManageProject.Models;
@{
    ViewBag.Title = "Database Information";
    ApplicationDbContext db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();

    var listProjectByUserId = db.UserProjects.Where(x => x.UserId == userId && x.Disable == false).Select(k => k.Project).ToList();

    bool isEnviProject(string envi_Id)
    {
        var listProByEnviId = db.ProjectEnvironments.Where(m => m.IdDatabase == envi_Id && m.IsDelete == false).Select(n => n.Project).ToList();
        //kiem tra co phai la PM co IdProject == para hk
        foreach (var x in listProjectByUserId)
        {
            foreach (var item in listProByEnviId)
            {
                if (x == item)
                    return true;
            }
        }
        return false;
    }
}

<h2>@ViewBag.Title</h2>
<hr />
<div id="index">
    @if (User.IsInRole("Admin") || (User.IsInRole("PM")))
    {
        <button class="btn btnCreate" style="background-color:green;color:white;height:40px" IdUser="@User.Identity.GetUserId()">Create New</button>

    }
    <table class="table table-bordered table-hover table-striped" id="myTable">
        <thead style="background-color:forestgreen;color:white">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.InstanceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatabaseName)
                </th>

                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.InstanceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatabaseName)
                    </td>

                    <td class=" col-md-4 text-center">
                        @if (User.IsInRole("Admin") || (User.IsInRole("PM") && isEnviProject(item.Database)))
                        {
                            @Html.Raw(@Html.Label("[replacetext]", new { id = item.Database, IdUser = User.Identity.GetUserId(), @class = "btnEdit", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Edit.ico\" height=\"30\">"))
                            @Html.Raw(@Html.Label("[replacetext]", new { id = item.Database, IdUser = User.Identity.GetUserId(), @class = "btndelete", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Recycle.png\" height=\"30\">"))

                        }
                        else
                        {
                            <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Recycle.png" /></button>
                            <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Edit.ico" /></button>

                        }
                        @Html.Raw(@Html.Label("[replacetext]", new { id = item.Database, @class = "btnDetail", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/My-Documents.png\" height=\"30\">"))

                    </td>
                </tr>
            }
        </tbody>


    </table>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:forestgreen;color:white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create Database</h4>
                </div>
                <div class="modal-body">
                    <div class="dialog1 ">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" style="background-color:gray;color:white" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
@section Scripts{
    <script src="~/Scripts/IProject/ProjectJS.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            
            $('.btnCreate').attr("data-toggle", "modal");
            $('.btnCreate').attr("data-target", "#myModal");
            $('.btnCreate').click(function (e) {
                $('.modal-title').html("Create Databases");
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/Databases/Create #createdb", "IdUser=" + iduser, function (response) {
                    console.log(response);
                    this; // dom element
                });
                e.preventDefault();

            });

            $('.btnEdit').attr("data-toggle", "modal");
            $('.btnEdit').attr("data-target", "#myModal");
            $('#myTable').on('click', '.btnEdit', function () {
                $('#myTable label').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Edit Databases");
                var id = $(this).attr('id');
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/Databases/Edit #Edit", "id=" + id + "&IdUser=" + iduser + "", function (response) {
                    this; // dom element
                });
                //e.preventDefault();
            });

            $('.btnDetail').attr("data-toggle", "modal");
            $('.btnDetail').attr("data-target", "#myModal");
            $('#myTable').on('click', '.btnDetail', function () {
                $('#myTable label').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Details Databases");
                var id = $(this).attr('id');
                $('.modal-body').load("/Databases/Details #Details", "id=" + id + "", function (response) {

                    this; // dom element

                });
                //e.preventDefault();

            });

            $('.btndelete').attr("data-toggle", "modal");
            $('.btndelete').attr("data-target", "#myModal");
            $('#myTable').on('click', '.btndelete', function () {
                $('#myTable label').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Delete Databases");
                var id = $(this).attr('id');
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/Databases/Delete #delete", "id=" + id + "&IdUser=" + iduser + "", function (response) {
                    this; // dom element
                });
                //e.preventDefault();
            });


            $('.requestDb').click(function (e) {
                var id = $(this).attr('id');
                var ProjectId = $(this).attr('ProjectId');
                var IdUser = $(this).attr('IdUser');
                $.ajax({
                    type: "POST",
                    url: "/Databases/SendMail",
                    data: { 'id': id, 'ProjectId': ProjectId, 'IdUser': IdUser },
                    dataType: "json",
                    success: function (response) {
                        if (response.isSend) {
                            alert('Check your mail!');
                        }
                        else {
                            alert('error in sending mail!');
                        }

                    }
                });

                e.preventDefault();

            });
        });

    </script>


}