﻿@model ManageProject.Models.Protocols

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div id="Edit">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
         
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Protocol)

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Type, "Type", htmlAttributes: new { @class = "control-label" })
                    @Html.HiddenFor(Model => Model.Createby)
                    @Html.HiddenFor(Model => Model.Createdate)
                    @Html.HiddenFor(Model => Model.Deleteby)
                    @Html.HiddenFor(Model => Model.Deletedate)
                    @Html.HiddenFor(Model => Model.IsDelete)

                </div>
                <div class="col-md-10">

                    <select class="form-control " name="Type" id="Type" required oninvalid="this.setCustomValidity('The field is required')" oninput="setCustomValidity('')">
                        @foreach (var item in ViewBag.Type)
                        {
                            if (item.Value == Model.Type)
                            {
                                <option value="@item.Value" selected>
                                    @item.Value
                                </option>
                            }
                            else
                            {
                                <option value="@item.Value">
                                    @item.Value
                                </option>
                            }

                        }
                    </select>
                </div>
            </div>

             <div class="form-group">
                 <div class="col-md-2">
                     @Html.LabelFor(model => model.HostName,"Host Name")

                 </div>
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.HostName, new { htmlAttributes = new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" } })
                     @Html.ValidationMessageFor(model => model.HostName, "", new { @class = "text-danger" })
                 </div>
             </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Port, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Port, new { htmlAttributes = new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" } })
                    @Html.ValidationMessageFor(model => model.Port, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" style="background-color:green;color:white"/>
                </div>
            </div>
        </div>
    }
</div>
    <div>
        <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>
    </div>
