﻿@model ManageProject.Models.Websites

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Websites</h4>
    <hr />
    <div class="text-center" id="delete">
        <h4> Do you sure want to delete <strong class="text-danger">@Model.Name</strong>?</h4>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" class="btn btn-primary">Accept</button>
                <a href="@Request.UrlReferrer" class="btn btn-danger">Back to List</a>
            </div>
        }
    </div>


</div>
