﻿@model ManageProject.Models.Websites

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div id="Edit">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Website)

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <b>Description</b>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.InfoWebsite, new { htmlAttributes = new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" } })
                    @Html.ValidationMessageFor(model => model.InfoWebsite, "", new { @class = "text-danger" })
                    @Html.HiddenFor(Model => Model.Createby)
                    @Html.HiddenFor(Model => Model.Createdate)
                    @Html.HiddenFor(Model => Model.Deleteby)
                    @Html.HiddenFor(Model => Model.Deletedate)
                    @Html.HiddenFor(Model=>Model.IsDelete)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" style="background-color:green;color:white"/>
                </div>
            </div>
        </div>
    }
</div>
    <div>
        <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>
    </div>
