﻿@model ManageProject.Models.APIs

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div id="delete">
    <div>
        <div class="text-center">
            <h4> Do you sure want to delete <strong class="text-danger">@Model.InfoAPI</strong>?</h4>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <button type="submit" class="btn btn-primary">Accept</button>

                    <a href="@Url.Action("Index")" class="btn btn-danger">Cancel</a>
                </div>
            }
        </div>
    </div>
</div>