﻿
<div style="border:1px solid yellow;width:300px;height:auto" id="templateMail">
    <div style="color:red;font-weight:bold;padding-left:25px"><h2>Protocol Information</h2> </div>
    <hr />
    <p style="padding-left:16px">Dear {FullName}</p>   
    <p style="padding-left:16px">Our system send you information of protocol.</p>
        <div style="padding-left:16px">

            <ul>
                <li>
                    <b>Project Name:</b>{ProjectName}
                </li>
                <li>
                    <b>Type:</b>{Type}
                </li>
                <li>
                    <b>HostName:</b>{HostName}
                </li>
                <li>
                    <b>Port:</b>{Port}
                </li>
                <li>
                    <b>UserName:</b>{UserName}
                </li>
                <li>
                    <b>Password:</b>{Password}
                </li>
                <li>
                    <b>Create Date:</b>{CreateDate}
                </li>
                <li>
                    <b>Update Date:</b>{UpdateDate}
                </li>
            </ul>
            <br />
            <br />
            Thanks
            <br />
            My company
        </div>
</div>

