﻿@model ManageProject.Models.UserProject
@{
    ViewBag.Title = "Create User for Project";
   
}

<h2>@ViewBag.Title.</h2>

<div id="create">

    @using (Html.BeginForm("Create", "ManageUserProject", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row hidedata" id="hidDiv">
            <div class="">
                <form class="form">

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="ProjectId" class="control-label">Project Name:</label>*
                        </div>

                        <div class="col-sm-9">

                            @Html.DropDownListFor(model => model.Project, ViewBag.ListProject as SelectList, "--Select--", htmlAttributes: new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 ">
                            <label for="UserId" class="control-label">User Name:</label>*
                        </div>

                        <div class="col-sm-9">
                            @Html.DropDownListFor(model => model.UserId, ViewBag.ListUser as SelectList, "--Select--", htmlAttributes: new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="TaskUser" class="control-label">Task User:</label>*
                        </div>

                        <div class="col-sm-9">
                          
                            @Html.DropDownListFor(model => model.TaskUser, ViewBag.Task as SelectList, "--Select--", htmlAttributes: new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="PositionUser" class="control-label">Position User:</label>*
                        </div>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="PositionUser" required oninvalid = "this.setCustomValidity('The field is required')" oninput = "setCustomValidity('')">

                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <button type="submit" class="btn" style="background-color:green;color:white">Create</button>
                            
                        </div>
                    </div>

                </form>

            </div>
        </div>
    }

</div>
<div>
    <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>
</div>
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}





