﻿@model ManageProject.Models.UserProject

@{

    ViewBag.Title = "Delete Task";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">

    <div class="col-sm-12">

        <h2>@ViewBag.Title</h2>

        <hr />

        <div class="text-center">

            <h5>Do you sure want to delete Task of member in this project?</h5>

            @using (Html.BeginForm())

            {

                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })

                <button type="submit" class="btn btn-primary">Accept</button>
                
                <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Cancel</a>

            }

        </div>

    </div>

</div>


