﻿@model ManageProject.Models.UserProject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div id="details">
    <div>

        <table class=" table table-bordered" style="background-color:lightgreen">
            <tr>
                <td><strong>Project Name</strong></td>
                <td>@Model.managerProject.ProjectName</td>
            </tr>
            <tr>
                <td><strong>UserName</strong></td>
                <td>@Model.manageUser.UserName</td>
            </tr>
            <tr>
                <td><strong>Task User</strong></td>
                <td>@Model.TaskUser</td>
            </tr>
            <tr>
                <td><strong>Position User</strong></td>
                <td>@Model.PositionUser</td>
            </tr>
            <tr>
                <td><strong>Create Date</strong></td>
                <td class="text-center " style="font-size:smaller;color:black"><strong>@Model.Createby</strong>  <br /><strong> @Model.Createdate</strong> </td>

            </tr>
            <tr>
                <td><strong>Update Date</strong></td>
                <td class="text-center" style="font-size:smaller;color:black"><strong>@Model.Updateby</strong>  <br /><strong>@Model.Updatedate</strong> </td>

            </tr>
        </table>
        
    </div>
   
</div>
<div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { ProjectId = Model.Project, UserId = Model.UserId }, new { @class = "btn btn-success" })
       
    </p>
    <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>
</div>