﻿@model ManageProject.Models.UserProject

@{
    ViewBag.Title = "Edit Task";
}

<h2>Edit</h2>
<div id="edit">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(Model => Model.Project)

        @Html.HiddenFor(Model => Model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.TaskUser, "Task User", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">

                @Html.DropDownListFor(model => model.TaskUser, ViewBag.Task as SelectList, "--Select--", htmlAttributes: new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })

                @Html.ValidationMessageFor(model => model.TaskUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group  ">
            @Html.LabelFor(model => model.PositionUser, "Position User", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.PositionUser, htmlAttributes: new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })

                @Html.ValidationMessageFor(model => model.PositionUser, "", new { @class = "text-danger" })
                @Html.HiddenFor(Model => Model.Createby)
                @Html.HiddenFor(Model => Model.Createdate)
                @Html.HiddenFor(Model => Model.Deleteby)
                @Html.HiddenFor(Model => Model.Deletedate)
                @Html.HiddenFor(Model => Model.IsDelete)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Save" class="btn" style="background-color:green;color:white" />
            </div>
        </div>
    </div>
    }
</div>
<div>
   
    <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>
</div>
