﻿@using ManageProject.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<UserProject>
@{       
                ViewBag.Title = "Member In Projects";

                Layout = "~/Views/Shared/_Layout.cshtml";
                ApplicationDbContext db = new ApplicationDbContext();
                var id = User.Identity.GetUserId();
                bool checkRoles(string ProjectId)
                {
                    var tmp = db.UserProjects.Where(x => x.Project == ProjectId && x.Disable == false && x.UserId == id).ToList();
                    if (tmp.Count > 0)
                    {
                        return true;
                    }
                    return false;

                }
}

<h2>@ViewBag.Title</h2>

<hr />
@if (User.IsInRole("Admin") || (User.IsInRole("PM")))
{
    <button class="btn" id="btncreate"style="background-color:green;color:white" IdUser="@User.Identity.GetUserId()" data-toggle="modal" data-target="#myModal">Create</button>

}
    <p></p>

<table class="table table-bordered table-hover table-striped"  id="myTable">

    <thead style="background-color:forestgreen;color:white">

        <tr>
            <th>Project Name</th>

            <th>User Name</th>

            <th>Task User</th>

            <th>Position User </th>

            <th></th>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {

        <tr>

            <td>@item.managerProject.ProjectName</td>

                <td>@Html.ActionLink(@item.manageUser.UserName, "InfoUser", new { UserId = item.UserId }) </td>

                <td>@item.TaskUser</td>

                <td>@item.PositionUser</td>
                
                <td class="text-center col-md-4">
                    @if (User.IsInRole("Admin") || (User.IsInRole("PM") && checkRoles(item.Project)))
                    {
                        @Html.Raw(@Html.Label("[replacetext]", new { id = item.Project, UserId = item.UserId, IdUser = User.Identity.GetUserId(), @style = "cursor:pointer", @class = "btnEdit" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Edit.ico\" height=\"30\">"))
                        @Html.Raw(@Html.Label("[replacetext]", new { id = item.Project, UserId = item.UserId, IdUser = User.Identity.GetUserId(), @class = "btnDetail", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/My-Documents.png\" height=\"30\">"))
                        @Html.Raw(@Html.ActionLink("[replacetext]", "Delete", new { id = item.Project, UserId = item.UserId, IdUser = User.Identity.GetUserId(), @style = "cursor:pointer" }, new { UserId = item.UserId, id = item.Project, @class = "btndelete" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Recycle.png\" height=\"30\">"))

                    }
                    else
                    {
                        <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Recycle.png" /></button>
                        <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Edit.ico" /></button>
                        <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/My-Documents.png" /></button>

                    }


                </td>

            </tr>

        }

    </tbody>

</table>



<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:forestgreen;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Project User</h4>
            </div>
            <div class="modal-body">
                <div class="dialog1 ">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color:gray;color:white" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
@section Scripts{

    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();

            $('.btndelete').click(function (e) {
                var id = $(this).attr('id');
                var userid = $(this).attr('UserId');
                console.log(id);
                $.confirm({
                    title: 'Message',
                    content: 'Do you want to delete ?',
                    buttons: {
                        Delete: function () {
                            $.ajax({
                                type: "POST",
                                url: "/ManageUserProject/DeleteUserProject",
                                data: { 'UserId': userid, 'id': id },
                                dataType: "json",
                                success: function (response) {
                                    console.log(response);
                                    if (response) {
                                        $.alert("Update success");
                                        console.log(response);
                                        location.reload();
                                    }
                                    else {
                                        $.alert("Update Error");
                                    }
                                },
                            });
                        },
                        cancel: function () {

                        },
                    }
                });
                e.preventDefault();
            });

            $('#btncreate').click(function (e) {

                var id = $(this).attr('IdUser');
                $('.modal-body').load("/ManageUserProject/Create #create", "IdUser=" + id + "", function (response) {
                    this; // dom element

                });
                e.preventDefault();
            });
            //Btn detail
            $('.btnDetail').attr("data-toggle", "modal");
            $('.btnDetail').attr("data-target", "#myModal");
            $('.btnDetail').click(function (e) {
                var userid = $(this).attr('UserId');
                var id = $(this).attr('id');
                $('.modal-body').load("/ManageUserProject/Details #details", "UserId=" + userid + "&id=" + id + "", function (response) {

                    this; // dom element

                });
                e.preventDefault();

            });

            //Btn Edit
            $('.btnEdit').attr("data-toggle", "modal");
            $('.btnEdit').attr("data-target", "#myModal");
            $('.btnEdit').click(function (e) {
                var userid = $(this).attr('UserId');
                var id = $(this).attr('id');
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/ManageUserProject/Edit #edit", "UserId=" + userid + "&id=" + id + "&IdUser=" + iduser + "", function (response) {

                    this; // dom element

                });
                e.preventDefault();

            });
        });
    </script>
    <script>

    </script>


}