﻿@using ManageProject.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<UserProject>
@{
    ViewBag.Title = "InfoUser";
}

<h2>Info User </h2>

<table class="table table-bordered table-hover table-striped" id="myTable">
    <thead style="background-color:forestgreen;color:white">
        <tr>
            <th>UserName</th>
            <th>ProjectName</th>
            <th>Status</th>
            <th>Task User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.manageUser.UserName</td>
                <td>@item.managerProject.ProjectName</td>
                <td>
                    <b class="text-danger">@item.managerProject.isJoin  </b>

                </td>
                <td class="text-success"><b>@item.TaskUser</b></td>
            </tr>
        }
    </tbody>
</table>
<a href="@Request.UrlReferrer" class="btn btn-primary">Back to List</a>
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts{

    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>


}