﻿@{
    ViewBag.Title = "Home Page";
}
<style>
    #menu ul li ul li{
       /*// display:none;*/
    }
</style>


<div id="txt">
    <p>Hello world</p>
    <input id="btn" type="button" value="Click Me" />
</div>

<div id="menu">
    <ul>
        <li>
            <a href="#">HTML</a>
            <ul>
                <li> <a href="#">HTML</a></li>
                <li> <a href="#">HTML</a></li>
                <li> <a href="#">HTML</a></li>
                <li> <a href="#">HTML</a></li>
            </ul>
        </li>
        <li>
            <a href="#">HTML</a>
            <ul>
                <li> <a href="#">HTML</a></li>
                <li> <a href="#">HTML</a></li>
                <li> <a href="#">HTML</a></li>
                <li> <a href="#">HTML</a></li>
            </ul>
        </li>
        <li>
            <a href="#">HTML</a>
            <ul>
                <li> <a href="#">HTML</a></li>
                <li> <a href="#">HTML</a></li>
                <li> <a href="#">HTML</a></li>
                <li> <a href="#">HTML</a></li>
            </ul>
        </li>

    </ul>
</div>



@section Scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#menu ul li ul ").addClass("hidden");
            $("#menu ul li a ").click(function(){
                var $ul = $(this).next();
                $ul.removeClass("hidden");
            
                return false;
            });
        });
       
    </script>
       
 
}
