﻿@model ManageProject.Models.Servers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div id="Details">
    <hr />
    <table class="table table-bordered" style="background-color:lightgreen">
        <tr>
            <td><strong>Server Name</strong> </td>
            <td> @Html.DisplayFor(model => model.ServerName)</td>
        </tr>
        <tr>
            <td><strong>Type</strong> </td>
            <td> @Html.DisplayFor(model => model.Type)</td>
        </tr>
        <tr>
            <td><strong>Location</strong></td>
            <td>@Html.DisplayFor(model => model.Location)</td>
        </tr>
        <tr>
            <td><strong>Description</strong></td>
            <td>@Html.DisplayFor(model => model.InfoServer)</td>
        </tr>
        <tr>
            <td><strong>Create by</strong></td>
            <td>@Html.DisplayFor(model => model.Createby)</td>
        </tr>
        <tr>
            <td><strong>Create date</strong></td>
            <td>@Html.DisplayFor(model => model.Createdate)</td>
        </tr>
        <tr>
            <td><strong>Update by</strong></td>
            <td>@Html.DisplayFor(model => model.Updateby)</td>
        </tr>
        <tr>

            <td><strong>Update date</strong></td>
            <td>@Html.DisplayFor(model => model.Updatedate)</td>
        </tr>
    </table>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Server }, new { @class = "btn btn-sm btn-primary" }) |
    <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>

</p>
