﻿@model ManageProject.Models.Servers

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div id="Edit">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Server)

        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.ServerName, "Server Name", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.ServerName, new { htmlAttributes = new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" } })
                @Html.ValidationMessageFor(model => model.ServerName, "", new { @class = "text-danger" })
                @Html.HiddenFor(Model => Model.Createby)
                @Html.HiddenFor(Model => Model.Createdate)
                @Html.HiddenFor(Model => Model.Deleteby)
                @Html.HiddenFor(Model => Model.Deletedate)
                @Html.HiddenFor(Model => Model.IsDelete)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Type, "Type", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-9">
                <select class="form-control " name="Type" id="Type" , required oninvalid="this.setCustomValidity('The field is required')" oninput="setCustomValidity('')">
                    @foreach (var item in ViewBag.Type)
                    {
                        if (Model.Type == item.Value)
                        {
                            <option value="@item.Value" selected>
                                @item.Value
                            </option>
                        }
                        else
                        {
                            <option value="@item.Value">
                                @item.Value
                            </option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <b>Location</b>
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <b>Description</b>
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.InfoServer, new { htmlAttributes = new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" } })
                @Html.ValidationMessageFor(model => model.InfoServer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Save" class="btn btn-default" style="background-color:green;color:white" />
            </div>
        </div>
    </div>
    }
</div>
<div>
    <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>
</div>
