﻿@model IEnumerable<Servers>
@using Microsoft.AspNet.Identity
@using ManageProject.Models;
@{
    ViewBag.Title = "Server information";
    ApplicationDbContext db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();

    var listProjectByUserId = db.UserProjects.Where(x => x.UserId == userId).Select(k => k.Project).ToList();

    //bool isEnviProject(string envi_Id)
    //{
    //    var listProByEnviId = db.Enviroments.Where(m => m.IdEnviroment == envi_Id).Select(n => n.ProjectEnvironmentss.ProjectId).ToList();
    //    //kiem tra co phai la PM co IdProject == para hk
    //    foreach (var x in listProjectByUserId)
    //    {
    //        foreach (var item in listProByEnviId)
    //        {
    //            if (x == item)
    //                return true;
    //        }
    //    }
    //    return false;
    //}
}

<h2>@ViewBag.Title</h2>
<hr />

@if (User.IsInRole("Admin") || (User.IsInRole("PM")))
{
    <button class="btn btnCreate"style="background-color:green;color:white;height:40px" IdUser="@User.Identity.GetUserId()">Create New</button>

}
<table class="table table-bordered table-striped table-hover"  id="myTable">
    <thead class="" style="background-color:forestgreen;color:white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServerName)
            </th>
            <th>
                Type
            </th>
            <th>
                Location
            </th>


            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            
            <td class=" col-md-4 text-center">
                @if (User.IsInRole("Admin"))
                {
                    @Html.Raw(@Html.Label("[replacetext]", new { id = item.Server, IdUser = User.Identity.GetUserId(), @class = "btnEdit", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Edit.ico\" height=\"30\">"))
                    @Html.Raw(@Html.Label("[replacetext]", new { id = item.Server, IdUer = User.Identity.GetUserId(), @class = "btndelete", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Recycle.png\" height=\"30\">"))

                }
                else
                {
                    <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Recycle.png" /></button>
                    <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Edit.ico" /></button>

                }
                @Html.Raw(@Html.Label("[replacetext]", new { id = item.Server, @class = "btnDetail", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/My-Documents.png\" height=\"30\">"))


            </td>
        </tr>
        }
    </tbody>


</table>


<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:forestgreen;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Database</h4>
            </div>
            <div class="modal-body">
                <div class="dialog1 ">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button"style="background-color:gray;color:white" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
@section Scripts{
    <script src="~/Scripts/IProject/ProjectJS.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            
            $('#myTable').on('click', '.btndelete', function () {
                $('#myTable label').removeAttr("data-toggle", "modal").removeAttr("data-target", "#myModal");
                var id = $(this).attr('id');
                var iduser = $(this).attr('IdUser');
                $.confirm({
                    title: 'Message',
                    content: 'Do you want to delete ?',

                    buttons: {
                        Delete: function () {
                            $.ajax({
                                type: "POST",
                                url: "/Servers/DeleteServer",
                                data: { 'id': id, 'IdUser': iduser },
                                dataType: "json",
                                success: function (response) {
                                    console.log(response);
                                    if (response) {
                                        $.alert("Update success");
                                        console.log(response);
                                        location.reload();
                                    }
                                    else {
                                        $.alert("Update Error");
                                    }
                                },
                            });
                        },
                        cancel: function () {

                        },
                    }
                });
                e.preventDefault();
            });
            //btn Detail

            $('.btnDetail').attr("data-toggle", "modal");
            $('.btnDetail').attr("data-target", "#myModal");
            $('#myTable').on('click', '.btnDetail', function () {
                $('#myTable label').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Details Servers");
                var id = $(this).attr('id');
                $('.modal-body').load("/Servers/Details #Details", "id=" + id + "", function (response) {

                    this; // dom element

                });
                //e.preventDefault();

            });
            //btn Edit

            $('.btnEdit').attr("data-toggle", "modal");
            $('.btnEdit').attr("data-target", "#myModal");
            $('#myTable').on('click', '.btnEdit', function () {
                $('#myTable label').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Edit Servers");
                var id = $(this).attr('id');
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/Servers/Edit #Edit", "id=" + id + "&IdUser=" + iduser + "", function (response) {
                    this; // dom element
                });
                //e.preventDefault();
            });
            //btn Create
            
            $('.btnCreate').attr("data-toggle", "modal");
            $('.btnCreate').attr("data-target", "#myModal");
            $('.btnCreate').click(function (e) {
                $('.modal-title').html("Create Servers");
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/Servers/Create #create", "IdUser=" + iduser, function (response) {
                    console.log(response);
                    this; // dom element
                });
                e.preventDefault();

            });
        });
    </script>


}