﻿@model ManageProject.Models.Enviroment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div id="Details">

    <hr />
    <table class="table table-bordered" style="background-color:lightgreen">

        <tr>
            <td><strong>Type</strong></td>
            <td> @Html.DisplayFor(model => model.Type)</td>
        </tr>
        <tr>
            <td><strong>Description</strong></td>
            <td> @Html.DisplayFor(model => model.Notes)</td>
        </tr>
        <tr>
            <td><strong>Create Date</strong></td>
            <td class="text-center " style="font-size:smaller;color:black"><strong>@Html.DisplayFor(modelItem => Model.Createby)</strong>  <br /><strong> @Html.DisplayFor(modelItem => Model.Createdate)</strong> </td>
        </tr>
        <tr>
            <td><strong>Update Date</strong></td>
            <td class="text-center" style="font-size:smaller;color:black"><strong>@Html.DisplayFor(modelItem => Model.Updateby)</strong>  <br /><strong>@Html.DisplayFor(modelItem => Model.Updatedate)</strong> </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Environment }, new { @class = "btn btn-sm btn-primary" })
    <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>
</p>
