﻿@model IEnumerable<Bitbuckets>
@using ManageProject.Models;
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Bitbucket";

}

<h2>Bitbucket</h2>

<button class="btn" id="btnCreate" style="background-color:green;color:white" IdProject=@ViewBag.idProject data-toggle="modal" data-target="#myModal">Create</button>

<table class="table table-bordered table-striped table-hover" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projects.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Projects.ProjectName)
                </td>
                <td>
                    <a href="https://bitbucket.org/@item.Link" target="_blank">
                        @Html.DisplayFor(modelItem => item.Link)
                    </a>

                </td>
                <td>
                    @Html.Raw(@Html.Label("[replacetext]", new { id = item.Bitbucket, ProjectId = item.Project, IdUser = User.Identity.GetUserId(), @class = "btnEdit", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Edit.ico\" height=\"30\">"))
                    @Html.Raw(@Html.Label("[replacetext]", new { id = item.Bitbucket, ProjectId = item.Project, IdUser = User.Identity.GetUserId(), @class = "btndelete", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Recycle.png\" height=\"30\">"))
                    @Html.Raw(@Html.Label("[replacetext]", new { id = item.Bitbucket, ProjectId = item.Project, IdUser = User.Identity.GetUserId(), @class = "btnDetail", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/My-Documents.png\" height=\"30\">"))
                    
                </td>
            </tr>
        }
    </tbody>

</table>
<div>
    <a href="/Project/Index" class="btn btn-sm btn-primary">Back to List</a>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:forestgreen;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Bitbucket</h4>
            </div>
            <div class="modal-body">
                <div class="dialog1 ">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color:gray;color:white" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/IProject/ProjectJS.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            //setdefault();
            $('#btnCreate').click(function (e) {
                var projectId = $(this).attr('IdProject');
                $('.modal-body').load("/Project/CreateBbk #Create", "ProjectId=" + projectId, function (response) {
                    this; // dom element
                });
                e.preventDefault();
            });
            
            $('.btndelete').attr("data-toggle", "modal");
            $('.btndelete').attr("data-target", "#myModal");
            $('.btndelete').click(function (e) {
                $('.modal-title').html("Delete Bitbuckets");
                var id = $(this).attr('id');
                var projectid = $(this).attr('ProjectId');
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/Project/DeleteBbk #delete", "id=" + id + "&ProjectId=" + projectid + "&IdUser=" + iduser + "", function (response) {
                    this; // dom element
                });
                e.preventDefault();
            });
            
            $('.btnEdit').attr("data-toggle", "modal");
            $('.btnEdit').attr("data-target", "#myModal");
            $('.btnEdit').click(function (e) {
                $('.modal-title').html("Edit Bitbuckets");
                var id = $(this).attr('id');
                var projectid = $(this).attr('ProjectId');
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/Project/EditBbk #Edit", "id=" + id + "&ProjectId=" + projectid + "&IdUser=" + iduser + "", function (response) {
                    this; // dom element
                });
                e.preventDefault();
            });

            $('.btnDetail').attr("data-toggle", "modal");
            $('.btnDetail').attr("data-target", "#myModal");
            $('.btnDetail').click(function (e) {
                $('.modal-title').html("Details Bitbuckets");
                var id = $(this).attr('id');
                $('.modal-body').load("/Project/DetailsBbk #Details", "id=" + id + "", function (response) {

                    this; // dom element

                });
                e.preventDefault();

            });
        });
    </script>


}