﻿@model ManageProject.Models.Bitbuckets

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div id="Create">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-3">Project Name</div>

                <div class="col-md-9">

                    <select class="form-control " name="Project" id="Project" required oninvalid="this.setCustomValidity('The field is required')" oninput="setCustomValidity('')">
                        @foreach (var item in ViewBag.tmp)
                        {
                            <option value="@item.Project">
                                @item.ProjectName
                            </option>
                        }

                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">Link</div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" } })
                    @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">Description</div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.InfoBitbucket, new { htmlAttributes = new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" } })
                    @Html.ValidationMessageFor(model => model.InfoBitbucket, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Create" class="btn" style="background-color:green;color:white" />
                </div>
            </div>
        </div>
    }
</div>
<div>

    <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>
</div>
