﻿@model ManageProject.Models.APIs

@{
    ViewBag.Title = "Create";
}
<div id="create">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Type, "Type", htmlAttributes: new { @class = "control-label" })
                </div>

                <div class="col-md-8">

                    <select class="form-control " name="Type" id="Type" , required oninvalid="this.setCustomValidity('The field is required')" oninput="setCustomValidity('')">
                        @foreach (var item in ViewBag.Type)
                        {
                            <option value="@item.Value">
                                @item.Value
                            </option>
                        }

                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <b>Link</b>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.InfoAPI, new { htmlAttributes = new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" } })
                    @Html.ValidationMessageFor(model => model.InfoAPI, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class=" col-md-4">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class=" col-md-4">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Create" class="btn btn-default" style="background-color:green;color:white" />
                </div>
            </div>
        </div>
    }
</div>
<div>
    <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>
</div>
