﻿@model ManageProject.Models.Websites

@{
    ViewBag.Title = "Create";
}
<div id="create">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <b>Description</b>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.InfoWebsite, new { htmlAttributes = new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" } })
                    @Html.ValidationMessageFor(model => model.InfoWebsite, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Create" class="btn btn-default" style="background-color:green;color:white" />
                </div>
            </div>
        </div>
    }
</div>


<div>
    <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>
</div>


