﻿@model ManageProject.Models.ManageProjects
@{
    ViewBag.Title = "Create New Project";
}
<br />
<br />
<div id="create">

    @using (Html.BeginForm("Create", "Project", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formcreate" }))
    {
        @Html.AntiForgeryToken()
        

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group ">
            <div class="col-md-4">
                @Html.LabelFor(m => m.ProjectName,"Project Name", new { @class = "control-label text-left", @name = "ProjectName" })*

            </div>
            <div class="col-md-8">
              
                <input name="ProjectName" class="form-control" required oninvalid="this.setCustomValidity('The field is required')"
                       oninput="setCustomValidity('')" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.Summary, new { @class = "control-label text-left", @name = "Summary" })
            </div>

            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Summary, new { @class = "form-control" , @required = "required", @oninvalid= "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.LanguageCode,"Language Code", new { @class = "control-label text-left", @name = "LanguageCode" })*
            </div>

            <div class="col-md-8">
                @Html.TextBoxFor(m => m.LanguageCode, new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.Tech, new { @class = "control-label", @name = "Tech" })*
            </div>

            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Tech, new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.removeServer,"Remove Server", new { @class = "control-label", @name = "removeServer" })*
            </div>

            <div class="col-md-8">
                @Html.TextBoxFor(m => m.removeServer, new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.isJoin, new { @class = "control-label", @name = "isJoin", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })*
            </div>

            <div class="col-md-8">
                @Html.DropDownListFor(m => m.isJoin, ViewBag.statusJoinProject as SelectList, "--select--", new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.DateDeployment,"Date Deployment", new { @class = "control-label", @name = "DateDeployment" ,@required="required", oninvalid = "this.setCustomValidity('The field is required')" })*

            </div>
            <div class="col-md-8">
                <input type="date" class="form-control" name="DateDeployment"   />
              
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.InfoFlyway,"Info Flyway", new { @class = "control-label", @name = "InfoFlyway" })*
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.InfoFlyway, new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-9">
                <input type="submit" class="btn" value="Create" style="background-color:green;color:white"/>

            </div>
        </div>
    }


    @section Scripts {
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        @*<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" type="text/javascript"></script>*@

        
    }

</div>


<div>

    <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>
</div>