﻿@model ManageProject.Models.ManageProjects

@{

    ViewBag.Title = "Delete Project";

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>@ViewBag.Title</h2>

<hr />

<div id="delete">


    <div class="row">

        <div class="col-sm-12">


            <div class="text-center">

                <h5>Do you sure want to delete @Model.ProjectName?</h5>

                @using (Html.BeginForm())

                {

                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <button type="submit" class="btn btn-primary">Accept</button>
                    <a href="@Request.UrlReferrer" class="btn  btn-danger">Cancel</a>

                }

            </div>

        </div>

    </div>
</div>