﻿@model ManageProject.Models.APIs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div id="Details">
    <div>
        <table class="table table-bordered" style="background-color:lightgreen">
            <tr>
                <td><strong>Link</strong></td>
                <td> @Html.DisplayFor(model => model.InfoAPI)</td>
            </tr>
            <tr>
                <td><strong>Type</strong></td>
                <td> @Html.DisplayFor(model => model.Type)</td>
            </tr>
            <tr>
                <td><strong>User Name</strong></td>
                <td> @Html.DisplayFor(model => model.UserName)</td>
            </tr>
            <tr>
                <td><strong>Password</strong></td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.DisplayFor(model => model.Password)
                    }

                    else
                    {
                        <p>Your Account don't watch</p>
                    }
                </td>
            </tr>
            <tr>
                <td><strong>Create Date</strong></td>
                <td class="text-center " style="font-size:smaller;color:black"><strong>@Html.DisplayFor(model => model.Createby)</strong>  <br /><strong> @Html.DisplayFor(model => model.Createdate)</strong> </td>

            </tr>
            <tr>
                <td><strong>Update Date</strong></td>
                <td class="text-center" style="font-size:smaller;color:black"><strong>@Html.DisplayFor(model => model.Updateby)</strong>  <br /><strong>@Html.DisplayFor(model => model.Updatedate)</strong> </td>

            </tr>
        </table>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.API }, new { @class = "btn btn-sm btn-primary" })
    <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>
</p>