﻿@using Microsoft.AspNet.Identity
@model ManageProjects
@using ManageProject.Models
@{
    ViewBag.Title = "Details";
    var i = 0;
    ApplicationDbContext db = new ApplicationDbContext();
}

<h2>Details</h2>

<div>
    <h4>ManageProject</h4>

    <hr />

    <table class="table table-bordered">

        <tr>
            <td> <strong>ProjectName</strong></td>
            <td>@Model.ProjectName</td>
        </tr>
        <tr>
            <td>Summary</td>
            <td>@Model.Summary</td>
        </tr>
        <tr>
            <td>LanguageCode</td>
            <td>@Model.LanguageCode</td>
        </tr>
        <tr>
            <td>ProjectName</td>
            <td>@Model.ProjectName</td>
        </tr>
        <tr>
            <td>Tech</td>
            <td>@Model.Tech</td>
        </tr>
        <tr>
            <td>RemoveServer</td>
            <td>@Model.removeServer</td>
        </tr>
        <tr>
            <td>Status</td>

            <td>
                @Model.isJoin
            </td>
        </tr>

        <tr>
            <td>InfoFlyway</td>
            <td>@Model.InfoFlyway</td>
        </tr>
        <tr>
            <td>Date Deployment</td>
            <td>@Model.DateDeployment</td>
        </tr>
        <tr>
            <td>Create Date</td>
            <td style="font-size:smaller;color:black"><strong>@Html.DisplayFor(modelItem => Model.Createby)</strong>  <br /><strong> @Html.DisplayFor(modelItem => Model.Createdate)</strong> </td>
        </tr>
        <tr>
            <td>Update Date</td>
            <td style="font-size:smaller;color:black"><strong>@Html.DisplayFor(modelItem => Model.Updateby)</strong>  <br /><strong>@Html.DisplayFor(modelItem => Model.Updatedate)</strong> </td>
        </tr>
    </table>
</div>
<div>
    <h3><strong class="text-success">List of member</strong></h3>
    <table class="table table-bordered">
        <tr>
            <th><strong>Numerical order</strong></th>
            <th> <strong>List of participants in the projects</strong></th>
            <th><strong class="text-danger">Task User</strong></th>
        </tr>
        @foreach (var item in ViewBag.tmp)
        {
            { i = i + 1; }
            <tr>
                <td>@i</td>

                <td>
                    @{ string x = item.manageUser.UserName;}
                    @Html.RouteLink(x, new { action = "InfoUser", controller = "ManageUserProject", UserId = item.UserId })
                </td>
                <td class="text-danger">
                    @item.TaskUser
                </td>
            </tr>
        }
    </table>
</div>
<p>
    <a href="/Project/Index" class="btn  btn-primary">Back to List</a>
</p>
