﻿@model ManageProject.Models.ManageProjects
@{
    ViewBag.Title = "Edit Project";
}

<div id="Edit">

    <br />
    @using (Html.BeginForm("Edit", "Project", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(Model => Model.Project)
        
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(m => m.ProjectName, "Project Name", new { @class = " control-label" })
            </div>

            <div class="col-md-8">
                @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(m => m.Summary, new { @class = " control-label" })
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Summary, new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(m => m.LanguageCode, "Language Code", new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.LanguageCode, new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(m => m.Tech, new { @class = " control-label" })
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Tech, new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(m => m.removeServer, "Remove Server", new { @class = " control-label" })
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.removeServer, new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(m => m.isJoin, new { @class = " control-label " })
            </div>
            <div class="col-md-8">
                @Html.DropDownListFor(m => m.isJoin, ViewBag.statusJoinProject as SelectList, "--select--", new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })

            </div>

        </div>

        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(m => m.DateDeployment, "Date Deployment")
                @Html.HiddenFor(Model => Model.Createby)
                @Html.HiddenFor(Model => Model.Createdate)
                @Html.HiddenFor(Model => Model.Deleteby)
                @Html.HiddenFor(Model => Model.Deletedate)
                @Html.HiddenFor(Model => Model.IsDelete)
            </div>

            <div class="col-md-8">
                <input class="form-control" name="DateDeployment" value=@Model.DateDeployment />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(m => m.InfoFlyway, "Info Flyway", new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.InfoFlyway, new { @class = "form-control", @required = "required", @oninvalid = "this.setCustomValidity('The field is required')", @oninput = "setCustomValidity('')" })
            </div>
        </div>
        <div class="form-group">
            <div class=" col-lg-offset-8">
                <input type="submit" class="btn" style="background-color:green;color:white" value="Save" />
            </div>
        </div>
    </div>
    }
</div>
<div>
    <a href="@Request.UrlReferrer" class="btn  btn-primary">Back to List</a>
</div>
@section Scripts {
    
}




