﻿@model ManageProject.Models.ManageProjects
@using Microsoft.AspNet.Identity
@{

    ViewBag.Title = "Edit Member";
    var i = 0;

    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h2>@ViewBag.Title</h2>

<hr />

<table class="table table-bordered" id="myTable">

    <thead>

        <tr>

            <th>STT</th>

            <th>Member</th>

            <th></th>

        </tr>

    </thead>

    <tbody>

        @foreach (var item1 in ViewBag.UserNoIsProject)
        {
            foreach (var item2 in ViewBag.listUser)
            {
                if (item1 == item2.Id)
                {
                    i = i + 1;
                    <tr style="background-color:aquamarine">
                        <td>@i</td>
                        <td>@item2.UserName</td>
                        <td class="text-center">
                            @Html.AntiForgeryToken()

                            @Html.Raw(@Html.Label("[replacetext]", new { UserId = @item1, id = Model.Project, language = "EN", IdUser = User.Identity.GetUserId(), @class = "btnAddMember ", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", " <img class=\"imgedit\" src=\"/Content/ima/Symbol-Add.ico\" height=\"30\">"))

                        </td>
                    </tr>
                }
            }
        }
        @foreach (var item in Model.UserProjects)
        {
            if (item.Project == Model.Project)
            {
                foreach (var item1 in ViewBag.listUser)
                {
                    if (item.UserId == item1.Id)
                    {
                        if (item.Disable == true)
                        {
                            i = i + 1;
                            <tr style="background-color:antiquewhite">
                                <td>@i</td>
                                <td>@item1.UserName</td>
                                <td class="text-center">
                                    @Html.AntiForgeryToken()
                                    @Html.Raw(@Html.Label("[replacetext]", new { UserId = @item1.Id, id = Model.Project, IdUser = User.Identity.GetUserId(), language = "EN", @class = "btnAddMember ", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", " <img class=\"imgedit\" src=\"/Content/ima/Symbol-Add.ico\" height=\"30\">"))

                                </td>
                            </tr>
                        }
                        else
                        {
                            i = i + 1;
                            <tr>
                                <td>@i</td>
                                <td>@item1.UserName</td>
                                <td class="text-center">
                                    @Html.AntiForgeryToken()
                                    @Html.Raw(@Html.ActionLink("[replacetext]", "DeleteMember", new { UserName = @item1.UserName, id = Model.Project, language = "EN" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Recycle.png\" height=\"30\">"))

                                </td>
                            </tr>
                        }

                    }

                }
            }
        }



    </tbody>
</table>

<div>
    <a href="/Project/Index" class="btn btn-sm btn-primary">Back to List</a>
      
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:forestgreen;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Member</h4>
            </div>
            <div class="modal-body">
                <div class="dialog1 ">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color:gray;color:white" class="btn btn-default" data-dismiss="modal">Close</button>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        
        $(document).ready(function () {
            $('#myTable').DataTable();
            
            $('.btnAddMember').attr("data-toggle", "modal");
            $('.btnAddMember').attr("data-target", "#myModal");
            $('.btnAddMember').click(function (e) {
                var id = $(this).attr('UserId');
                var projectid = $(this).attr('id');
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/ManageUserProject/Edit #edit", "UserId=" + id + "&id=" + projectid + "&IdUser=" + iduser + "", function (response) {

                    this; // dom element

                });
                e.preventDefault();

            });
        });
    </script>


}