﻿@using ManageProject.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<ManageProjects>

@{

    ViewBag.Title = "Projects";

    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Roleuser = User.IsInRole("Admin");
    ApplicationDbContext db = new ApplicationDbContext();
    var id = User.Identity.GetUserId();
    bool checkRoles(string ProjectId)
    {
        var tmp = db.UserProjects.Where(x => x.Project == ProjectId && x.Disable == false && x.UserId == id).ToList();
        if (tmp.Count > 0)
        {
            return true;
        }
        return false;

    }
}
<h2>@ViewBag.Title</h2>
<hr />
@Html.AntiForgeryToken()

@if (Roleuser)
{

    <button type="button" class="btn" style="background-color:green;color:white;height:40px" data-toggle="modal" data-target="#myModal" id="btnCr">
        Create Project
    </button>
}
else
{
    @Html.ActionLink("Create Project", "Create", null, new { @class = "btn btn-primary hidden", IdUser = User.Identity.GetUserId(), })
}
<p></p>

@using (Html.BeginForm())
{
    <h5>Search by name project</h5>
    <div class="col-md-2">
        <select name="projectName" id="projectName" class="form-control">
            <option value="">---List Project---</option>
            @foreach (var item in ViewBag.listProject)
            {
                <option value="@item.ProjectName">@item.ProjectName</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Search Project" class="btn btn-success" />
    </div>
}

<br /><br />

<table class="table table-bordered table-hover table-striped" id="myTable">

    <thead class="" style="background-color:forestgreen;color:white">

        <tr>
            <th class="">Project Name</th>

            <th class="">Summary</th>

            <th class="">Language Code</th>

            <th class="">Status</th>

            <th class="">Enviroment</th>
            <th class=""></th>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)

        {
            <tr>
                <td>@item.ProjectName</td>

                <td>@item.Summary</td>

                <td>@item.LanguageCode</td>

                <td>@item.isJoin</td>
                
                <td>
                    @if (User.IsInRole("Admin") || checkRoles(item.Project))
                    {
                        @Html.Raw(@Html.ActionLink("[replacetext]", "InfoEnvironment", new { IdProject = item.Project }).ToHtmlString().Replace("[replacetext]", " <img class=\"imgedit\" src=\"/Content/ima/Environment2.png\" height=\"30\">"))
                        @Html.Raw(@Html.ActionLink("[replacetext]", "Bitbucket", new { IdProject = item.Project }).ToHtmlString().Replace("[replacetext]", " <img class=\"imgedit\" src=\"/Content/ima/bitbucket.png\" height=\"30\">"))

                    }
                    else
                    {
                        <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Environment2.png" /></button>
                        <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/bitbucket.png" /></button>

                    }
                </td>
                
                <td class="text-center col-md-4">
                    @if (User.IsInRole("Admin") || checkRoles(item.Project))
                    {
                        @Html.Raw(@Html.Label("[replacetext]", new { id = item.Project, IdUser = User.Identity.GetUserId(), @class = "btnEdit ", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", " <img class=\"imgedit\" src=\"/Content/ima/Edit.ico\" height=\"30\">"))

                        @Html.Raw(Html.Label("[replacetext]", new { id = item.Project, @class = "btndelete", IdUser = User.Identity.GetUserId(), idpro = item.ProjectName, @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img    src=\"/Content/ima/Recycle.png\" height=\"30\"> "))
                        if (User.IsInRole("Admin") || User.IsInRole("PM"))
                        {
                            @Html.Raw(@Html.ActionLink("[replacetext]", "EditMember", new { id = item.Project, IdUser = User.Identity.GetUserId(), @class = " disabled" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/editmember.png\" height=\"30\">"))
                        }
                        else
                        {
                            <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="15" src="~/Content/ima/editmember.png" /></button>
                        }
                    }
                    else
                    {
                        <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="15" src="~/Content/ima/Recycle.png" /></button>
                        <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="15" src="~/Content/ima/Edit.ico" /></button>
                        <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="15" src="~/Content/ima/editmember.png" /></button>
                    }
                    @Html.Raw(@Html.ActionLink("[replacetext]", "Details", new { id = item.Project, IdUser = User.Identity.GetUserId() }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/My-Documents.png\" height=\"30\">"))
                </td>
            </tr>
        }
    </tbody>

</table>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:forestgreen;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Project</h4>
            </div>
            <div class="modal-body">
                <div class="dialog1 ">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color:gray;color:white" class="btn btn-default" data-dismiss="modal">Close</button>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">*@

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
@section Scripts{


    <script src="~/Scripts/IProject/ProjectJS.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>*@
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();

           // setdefault();
            //btn Edit
            $('.btnEdit').attr("data-toggle", "modal");
            $('.btnEdit').attr("data-target", "#myModal");
            $('.btnEdit').click(function (e) {
                $('.modal-title').html("Edit Project");
                var id = $(this).attr('id');
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/Project/Edit #Edit","id=" + id + "&IdUser=" + iduser + "", function (response) {
                    this; // dom element
                });
                e.preventDefault();
            });
            //btn Delete
            
            
            $('.btndelete').attr("data-toggle", "modal");
            $('.btndelete').attr("data-target", "#myModal");
            $('.btndelete').click(function (e) {
                $('.modal-title').html("Edit Project");
                var id = $(this).attr('id');
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/Project/Delete #delete", "id=" + id + "&IdUser=" + iduser + "", function (response) {
                    this; // dom element
                });
                e.preventDefault();
            });
            //btn Create
            $('#btnCr').attr("data-toggle", "modal");
            $('#btnCr').attr("data-target", "#myModal");
            $('#btnCr').click(function (e) {
                $('.modal-title').html("Create Project");
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/Project/Create #create", "IdUser=" + iduser, function (response) {
                    console.log(response);
                    this; // dom element
                });
                e.preventDefault();

            });
        });
    </script>
    <script>
        $(document).on("change", ".stage", function (e) {
            var id = $(this).attr('id');
            var x = $("#" + id + " option:selected").text().trim();
            console.log(x.trim());
            $.ajax({
                type: 'POST',
                url: '/ManageIProject/ChangeStatus',
                data: { 'id': id, 'status': x },
                success: function () {
                    $.alert({
                        title: 'Message',
                        content: 'Update Success!',
                    });
                }
            });

        });
    </script>
}

