﻿@using Microsoft.AspNet.Identity
@using ManageProject.Models;
@{
    ViewBag.Title = "Environment INFORMATION OF PROJECT: \"" + ViewBag.nameProject + "\"";
    ApplicationDbContext db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();
    var i = 0;

    var listProjectByUserId = db.UserProjects.Where(x => x.UserId == userId).Select(k => k.Project).ToList();
    bool isEnviProject(string envi_Id)
    {
        var listProByEnviId = db.ProjectEnvironments.Where(m => m.Environment == envi_Id).Select(n => n.Project).ToList();
        foreach(var x in listProjectByUserId)
        {
            foreach(var item in listProByEnviId)
            {
                if (x == item)
                    return true;
            }
        }
        return false;
    }
}
<br />
<h3 class="col-md-12" style="margin-bottom:25px;text-align:center">@ViewBag.Title</h3>
<hr />
<div class="form-group">
    @using (Html.BeginForm("InfoEnvironment", "Project", FormMethod.Get, new { IdProject = ViewBag.IdProject }))
    {
        <input id="IdP" name="IdProject" class="hidden" value="@ViewBag.IdProject" />

        <label class="col-md-12">Environment</label>
        <div class="row">
            <div class="col-md-3">
                <select class="form-control " name="IdE" id="IdE">
                    @foreach (var item in ViewBag.Enviroment)
                    {
                        if (item.Environment == ViewBag.Ide)
                        {
                            <option value="@item.Environment" selected>
                                @item.Type
                            </option>
                        }
                        else
                        {
                            <option value="@item.Environment">
                                @item.Type
                            </option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-success" value="Search" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <p>
                    <button class="btn btn-primary btnAddEnv" IdUser="@User.Identity.GetUserId()">Add Environment</button>
                </p>
            </div>
            <div class="col-md-2">
                <p>
                    <button class="btn btn-danger btnDeleteEnv" IdUser="@User.Identity.GetUserId()">Delete Environment</button>
                </p>
            </div>
        </div>
    }
</div>

<br />
<br />

<div class="form-group">

    <p style="text-align:center">Database</p>
    <hr />
    <p>
        <button class="btn btn-primary btnAddDb" IdUser="@User.Identity.GetUserId()">Add Database</button>
        <button class="btn btn-primary btnCreateDb" IdUser="@User.Identity.GetUserId()">Create Database</button>
    </p>
    <table class=" table table-bordered table-striped table-hover myTable1">
        <thead>
            <tr class="rowMain" style="background-color:forestgreen;color:white">
                <th>Number</th>
                <th>Instance Name</th>
                <th>Database Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.Database)
            {
                <tr>
                    @{ i = i + 1; }
                    <td>@i</td>
                    <td>@item.Databases.InstanceName</td>
                    <td>@item.Databases.DatabaseName</td>
                    <td class="text-center">
                        @if (User.IsInRole("Admin") || (User.IsInRole("PM") && isEnviProject(item.Environment)))
                        {
                            @Html.Raw(@Html.Label("[replacetext]", new { id = item.Databases.Database, IdUser = @User.Identity.GetUserId(), @class = "btnEditDb", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Edit.ico\" height=\"30\">"))
                            @Html.Raw(@Html.Label("[replacetext]", new { id = item.Databases.Database, IdUser = User.Identity.GetUserId().ToString(), @class = "deletedb", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Recycle.png\" height=\"30\">"))

                        }
                        else
                        {
                            <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Recycle.png" /></button>
                            <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Edit.ico" /></button>

                        }
                        @Html.Raw(@Html.Label("[replacetext]", new { id = item.Databases.Database, @class = "btnDetailDb", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/My-Documents.png\" height=\"30\">"))

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <p style="text-align:center">Server</p>
    <hr />
    <p>
        <button class="btn btn-primary btnCreateServer" IdUser="@User.Identity.GetUserId()">Add Server</button>
        <button class="btn btn-primary createsv" IdUser="@User.Identity.GetUserId()">Create Server</button>
    </p>
    <table class=" table table-bordered table-striped table-hover myTable1">
        <thead>

            @{i = 0; }
            <tr class="rowMain" style="background-color:forestgreen;color:white">
                <th>Number</th>
                <th>Server Name</th>
                <th>Location</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
         
            @foreach (var item in ViewBag.Server)
            {
                <tr>
                    @{ i = i + 1; }
                    <td>@i</td>
                    <td>@item.Servers.ServerName</td>
                    <td>@item.Servers.Location</td>
                    <td class="text-center">
                        @if (User.IsInRole("Admin") || (User.IsInRole("PM") && isEnviProject(item.Environment)))
                        {
                            @Html.Raw(@Html.Label("[replacetext]", new { IdEnvironment = item.Environment, IdServer = item.Server, IdUser = User.Identity.GetUserId(), @class = "btnEditServer", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Edit.ico\" height=\"30\">"))
                            
                            @Html.Raw(@Html.Label("[replacetext]", new { IdEnvironment = item.Environment, IdServer = item.Server, IdUser = User.Identity.GetUserId(), @class = "btndelete", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Recycle.png\" height=\"30\">"))
                        }
                        else
                        {
                            <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Recycle.png" /></button>
                            <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Edit.ico" /></button>

                        }
                        @Html.Raw(@Html.Label("[replacetext]", new { IdEnvironment = item.Environment, IdServer = item.Server, @class = "btnDetailServer", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/My-Documents.png\" height=\"30\">"))

                    </td>
                </tr>
            }

        </tbody>
    </table>
    <hr />
    <p style="text-align:center">Protocol(SFTP, FTPS, FTP)</p>
    <hr />
    <p>
        <button class="btn btn-primary btnAddProtocols" IdUser="@User.Identity.GetUserId()">Add Protocol</button>
        <button class="btn btn-primary btnCreateProtocols" IdUser="@User.Identity.GetUserId()">Create Protocol</button>

    </p>
    <table class=" table table-bordered table-striped table-hover myTable1">
        <thead>

            <tr class="rowMain" style="background-color:forestgreen;color:white">
                <th>Number</th>
                <th>Type</th>
                <th>HostName</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{i = 0;}

            @foreach (var item in ViewBag.Protocol)
            {
            <tr>
                @{ i = i + 1; }
                <td>@i</td>
                <td>@item.Protocols.Type</td>
                <td>@item.Protocols.HostName</td>
                <td class=" col-md-4 text-center">
                    @if (User.IsInRole("Admin") || (User.IsInRole("PM") && isEnviProject(item.Environment)))
                    {
                        @Html.Raw(@Html.Label("[replacetext]", new { id = item.Protocols.Protocol,IdUser = User.Identity.GetUserId(),@class = "btnEditProtocols",@style = "cursor:pointer"}).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Edit.ico\" height=\"30\">"))

                        @Html.Raw(@Html.Label("[replacetext]", new { id = item.Protocols.Protocol,IdUser = User.Identity.GetUserId().ToString(), @class = "deletepro", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Recycle.png\" height=\"30\">"))
                    }
                    else
                    {
                        <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Recycle.png" /></button>
                        <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Edit.ico" /></button>

                    }
                    @Html.Raw(@Html.Label("[replacetext]", new { id = item.Protocols.Protocol, @class = "btnDetailProtocols", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/My-Documents.png\" height=\"30\">"))


                </td>
            </tr>
            }

        </tbody>
    </table>
    <hr />
    <p style="text-align:center">Website</p>
    <hr />
    <p>
        <button class="btn btn-primary btnAddWebsite" IdUser="@User.Identity.GetUserId()">Add Website</button>
        <button class="btn btn-primary btnCreateWebsite" IdUser="@User.Identity.GetUserId()">Create Website</button>

    </p>
    <table class=" table table-bordered table-striped table-hover myTable1">
        <thead>
            @{i = 0;}
            <tr class="rowMain" style="background-color:forestgreen;color:white">
                <th>Number</th>
                <th>Name</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Website)
            {
                <tr>
                    @{ i = i + 1; }
                    <td>@i</td>
                    <td><a href="@item.Websites.Name">@item.Websites.Name</a></td>
                    <td class="text-center">

                        @if (User.IsInRole("Admin") || (User.IsInRole("PM") && isEnviProject(item.Environment)))
                        {
                            @Html.Raw(@Html.Label("[replacetext]", new { id = item.Websites.Website, IdUser = User.Identity.GetUserId(), @class = "btnEditWebsite", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Edit.ico\" height=\"30\">"))

                            @Html.Raw(@Html.Label("[replacetext]", new { id = item.Websites.Website, IdUser = User.Identity.GetUserId().ToString(), @class = "deletewb", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Recycle.png\" height=\"30\">"))

                        }
                        else
                        {
                            <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Recycle.png" /></button>
                            <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Edit.ico" /></button>

                        }
                        @Html.Raw(@Html.Label("[replacetext]", new { id = item.Websites.Website, @class = "btnDetailWebsite", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/My-Documents.png\" height=\"30\">"))

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <p style="text-align:center">APIs</p>
    <hr />
    <p>
        <button class="btn btn-primary btnAddAPIs" IdUser="@User.Identity.GetUserId()">Add API</button>
        <button class="btn btn-primary btnCreateAPIs" IdUser="@User.Identity.GetUserId()">Create API</button>

    </p>
    <table class=" table table-bordered table-striped table-hover myTable1">
        <thead>
            @{i = 0;}
            <tr class="rowMain" style="background-color:forestgreen;color:white">
                <th>Number</th>
                <th>Type</th>
                <th>Link</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.APIs)
            {
                <tr>
                    @{ i = i + 1; }
                    <td>@i</td>
                    <td>@item.APIs.Type</td>
                    <td><a href="http://localhost:53291">@item.APIs.InfoAPI</a></td>

                    <td class="text-center">
                        @if (User.IsInRole("Admin") || (User.IsInRole("PM") && isEnviProject(item.Environment)))
                        {
                            @Html.Raw(@Html.Label("[replacetext]", new { id = item.APIs.API, IdUser = User.Identity.GetUserId(), @class = "btnEditAPIs", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Edit.ico\" height=\"30\">"))

                            @Html.Raw(@Html.Label("[replacetext]", new { id = item.APIs.API, IdUser = User.Identity.GetUserId(), @class = "deleteAPI", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Recycle.png\" height=\"30\">"))
                        }
                        else
                        {
                            <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Recycle.png" /></button>
                            <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Edit.ico" /></button>

                        }
                        @Html.Raw(@Html.Label("[replacetext]", new { id = item.APIs.API, @style = "cursor:pointer", @class = "btnDetailAPIs" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/My-Documents.png\" height=\"30\">"))

                    </td>

                </tr>

            }

        </tbody>

    </table>
</div>
<div>
    <a href="Index" class="btn  btn-primary">Back to List</a>
</div>



<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:forestgreen;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Project</h4>
            </div>
            <div class="modal-body">
                <div class="dialog1 ">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"  style="background-color:gray;color:white">Close</button>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

@section Scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.myTable1').DataTable();

           
            var id = $('#IdProject').html();
            $('#IdEnviroment').submit(function (e) {
                $.ajax({
                    type: "POST",
                    url: "/ManageIProject/InfoEnviroment",
                    data: { IdE: x, IdProject: id },
                    //dataType: "json",
                    success: function () {
                        console.log("test" + x);
                        console.log("test" + id);
                        alert("fsdfs");
                    }
                });
            });
            //btn Detail database
            $('.btnDetailDb').attr("data-toggle", "modal");
            $('.btnDetailDb').attr("data-target", "#myModal");
            $('#DataTables_Table_0_wrapper').on('click', '.btnDetailDb', function () {
                $('#DataTables_Table_0_wrapper .btnDetailDb').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Details Databases");
                var id = $(this).attr('id');
                $('.modal-body').load("/Project/DetailsDB #Details", "id=" + id + "", function (response) {

                    this; // dom element

                });
                //e.preventDefault();

            });


            //btn Edit database
            $('.btnEditDb').attr("data-toggle", "modal");
            $('.btnEditDb').attr("data-target", "#myModal");
            $('#DataTables_Table_0_wrapper').on('click', '.btnEditDb', function () {
                $('#DataTables_Table_0_wrapper .btnEditDb').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Edit Database");
                var id = $(this).attr('id');
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/Project/EditDB #Edit", "id=" + id + "&IdUser=" + iduser + "", function (response) {
                    this; // dom element
                });
                //e.preventDefault();

            });

            //btn Crate database
            $('.btnCreateDb').attr("data-toggle", "modal");
            $('.btnCreateDb').attr("data-target", "#myModal");
            $('.btnCreateDb').click(function (e) {
                $('.modal-title').html("Create Database");
                var iduser = $(this).attr('IdUser');
                var idenvironment = $("#IdE").val();
                var idproject = $("#IdP").val();
                $('.modal-body').load("/Project/CreateDB #createdb", "IdUser=" + iduser + "" + "&IdEnvironment=" + idenvironment + "&IdProject=" + idproject, function (response) {
                    console.log(response);
                    this; // dom element
                });
                e.preventDefault();

            });
            //btn Add 
            $('.btnAddDb').attr("data-toggle", "modal");
            $('.btnAddDb').attr("data-target", "#myModal");
            $('.btnAddDb').click(function (e) {
                $('.modal-title').html("AddDatabase ProjectEnvironments");
                var iduser = $(this).attr('IdUser');
                var idenvironment = $("#IdE").val();
                var idproject = $("#IdP").val();
                $('.modal-body').load("/Project/AddExistingDatabase #add", "IdUser=" + iduser + "" + "&IdEnvironment=" + idenvironment + "&IdProject=" + idproject, function (response) {
                    console.log(response);
                    this; // dom element
                });
                e.preventDefault();

            });

            $('#DataTables_Table_0_wrapper').on('click', '.deletedb', function () {
                var id = $(this).attr('id');

                $.confirm({
                    title: 'Message',
                    content: 'Do you want to delete ?',

                    buttons: {
                        Delete: function () {
                            $.ajax({
                                type: "POST",
                                url: "/Project/DeleteDatabase",
                                data: { 'id': id },
                                dataType: "json",
                                success: function (response) {
                                    console.log(response);
                                    if (response) {
                                        $.alert("Update success");
                                        console.log(response);
                                        location.reload();
                                    }
                                    else {
                                        $.alert("Update Error");
                                    }
                                },
                            });
                        },
                        cancel: function () {

                        },
                    }
                });
                //e.preventDefault();
            });
            
            ////////////////////Server
            //btn Detail
            $('.btnDetailServer').attr("data-toggle", "modal");
            $('.btnDetailServer').attr("data-target", "#myModal");
            $('#DataTables_Table_1_wrapper').on('click', '.btnDetailServer', function () {
                $('#DataTables_Table_1_wrapper .btnDetailServer').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Details ServerEnvironments");
                var idserver = $(this).attr('IdServer');
                var idenvironment = $(this).attr('IdEnvironment');
                $('.modal-body').load("/Project/DetailsSerEnv #Details", "IdServer=" + idserver + "&IdEnvironment=" + idenvironment, function (response) {

                    this; // dom element

                });
                //e.preventDefault();

            });

            //btn Edit
            $('.btnEditServer').attr("data-toggle", "modal");
            $('.btnEditServer').attr("data-target", "#myModal");
            $('#DataTables_Table_1_wrapper').on('click', '.btnEditServer', function () {
                $('#DataTables_Table_1_wrapper .btnEditServer').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Edit ServerEnvironments");
                var idserver = $(this).attr('IdServer');
                var iduser = $(this).attr('IdUser');
                var idenvironment = $(this).attr('IdEnvironment');
                $('.modal-body').load("/Project/EditSerEnv #Edit", "&IdServer=" + idserver + "&IdUser=" + iduser + "" + "&IdEnvironment=" + idenvironment, function (response) {
                    this; // dom element
                });
                //e.preventDefault();
            });
            
            $('.btndelete').attr("data-toggle", "modal");
            $('.btndelete').attr("data-target", "#myModal");
            $('#DataTables_Table_1_wrapper').on('click', '.btndelete', function () {
                $('#DataTables_Table_1_wrapper .btndelete').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Delete ServerEnvironments");
                var idserver = $(this).attr('IdServer');
                var iduser = $(this).attr('IdUser');
                var idenvironment = $(this).attr('IdEnvironment');
                $('.modal-body').load("/Project/DeleteSerEnv #delete", "IdServer=" + idserver + "&IdUser=" + iduser + "" + "&IdEnvironment=" + idenvironment, function (response) {
                    this; // dom element
                });
                //e.preventDefault();
            });
           
            //btn Add
            $('.btnCreateServer').attr("data-toggle", "modal");
            $('.btnCreateServer').attr("data-target", "#myModal");
            $('.btnCreateServer').click(function (e) {
                $('.modal-title').html("Add ServerEnvironments");
                var iduser = $(this).attr('IdUser');
                var idenvironment = $("#IdE").val()
                $('.modal-body').load("/Project/CreateSerEnv #create", "IdUser=" + iduser + "&IdEnvironment=" + idenvironment, function (response) {

                    this; // dom element
                });
                e.preventDefault();

            });
            // btn create
            $('.createsv').attr("data-toggle", "modal");
            $('.createsv').attr("data-target", "#myModal");
            $('.createsv').click(function (e) {
                $('.modal-title').html("Add Servers");
                var iduser = $(this).attr('IdUser');
                var idenvironment = $("#IdE").val();
                $('.modal-body').load("/Project/CreateSer #create", "IdUser=" + iduser + "&IdEnvironment=" + idenvironment, function (response) {

                    this; // dom element
                });
                e.preventDefault();

            });
            
            ///////////////////////////Server

            ///////////////////Protocols
            //btn Detail
            $('.btnDetailProtocols').attr("data-toggle", "modal");
            $('.btnDetailProtocols').attr("data-target", "#myModal");
            $('#DataTables_Table_2_wrapper').on('click', '.btnDetailProtocols', function () {
                $('#DataTables_Table_2_wrapper .btnDetailProtocols').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Details Protocol");
                var id = $(this).attr('id');
                $('.modal-body').load("/Project/DetailsProtocol #Details", "id=" + id + "", function (response) {

                    this; // dom element

                });
                //e.preventDefault();

            });


            //btn Edit
            $('.btnEditProtocols').attr("data-toggle", "modal");
            $('.btnEditProtocols').attr("data-target", "#myModal");
            $('#DataTables_Table_2_wrapper').on('click', '.btnEditProtocols', function () {
                $('#DataTables_Table_2_wrapper .btnEditProtocols').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Edit Protocol");
                var id = $(this).attr('id');
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/Project/EditProtocol #Edit", "id=" + id + "&IdUser=" + iduser + "", function (response) {
                    this; // dom element
                });
                //e.preventDefault();

            });

            $('#DataTables_Table_2_wrapper').on('click', '.deletepro', function () {
                var id = $(this).attr('id');

                $.confirm({
                    title: 'Message',
                    content: 'Do you want to delete ?',

                    buttons: {
                        Delete: function () {
                            $.ajax({
                                type: "POST",
                                url: "/Project/DeleteProtocol",
                                data: { 'id': id },
                                dataType: "json",
                                success: function (response) {
                                    console.log(response);
                                    if (response) {
                                        $.alert("Update success");
                                        console.log(response);
                                        location.reload();
                                    }
                                    else {
                                        $.alert("Update Error");
                                    }
                                },
                            });
                        },
                        cancel: function () {

                        },
                    }
                });
                //e.preventDefault();
            });
            //btn Create
            $('.btnCreateProtocols').attr("data-toggle", "modal");
            $('.btnCreateProtocols').attr("data-target", "#myModal");
            $('.btnCreateProtocols').click(function (e) {
                $('.modal-title').html("Create Protocol");
                var iduser = $(this).attr('IdUser');
                var idenvironment = $("#IdE").val();
                var idproject = $("#IdP").val();
                $('.modal-body').load("/Project/CreateProtocol #create", "IdUser=" + iduser + "&IdEnvironment=" + idenvironment + "&IdProject=" + idproject, function (response) {
                    console.log(response);
                    this; // dom element
                });
                e.preventDefault();

            }); 
            //Add
            $('.btnAddProtocols').attr("data-toggle", "modal");
            $('.btnAddProtocols').attr("data-target", "#myModal");
            $('.btnAddProtocols').click(function (e) {
                $('.modal-title').html("AddProtocol ProjectEnvironments");
                var iduser = $(this).attr('IdUser');
                var idenvironment = $("#IdE").val();
                var idproject = $("#IdP").val();
                $('.modal-body').load("/Project/AddExistingProtocol #addprotocol", "IdUser=" + iduser + "&IdEnvironment=" + idenvironment + "&IdProject=" + idproject, function (response) {
                    console.log(response);
                    this; // dom element
                });
                e.preventDefault();

            });
            ///////////////////Protocols//////


            /////////Website//////////////////
            //btn Detail
            $('.btnDetailWebsite').attr("data-toggle", "modal");
            $('.btnDetailWebsite').attr("data-target", "#myModal");
            $('#DataTables_Table_3_wrapper').on('click', '.btnDetailWebsite', function () {
                $('#DataTables_Table_3_wrapper .btnDetailWebsite').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Detail Website");
                var id = $(this).attr('id');
                $('.modal-body').load("/Project/DetailsWebsite #Details", "id=" + id + "", function (response) {

                    this; // dom element

                });
                //e.preventDefault();

            });


            //btn Edit
            $('.btnEditWebsite').attr("data-toggle", "modal");
            $('.btnEditWebsite').attr("data-target", "#myModal");
            $('#DataTables_Table_3_wrapper').on('click', '.btnEditWebsite', function () {
                $('#DataTables_Table_3_wrapper .btnEditWebsite').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Edit Website");
                var id = $(this).attr('id');
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/Project/EditWebsite #Edit", "id=" + id + "&IdUser=" + iduser + "", function (response) {
                    this; // dom element
                });
                //e.preventDefault();

            });

            $('#DataTables_Table_3_wrapper').on('click', '.deletewb', function () {
                var id = $(this).attr('id');

                $.confirm({
                    title: 'Message',
                    content: 'Do you want to delete ?',
                    buttons: {
                        Delete: function () {
                            $.ajax({
                                type: "POST",
                                url: "/Project/DeleteWebsite",
                                data: { 'id': id },
                                dataType: "json",
                                success: function (response) {
                                    console.log(response);
                                    if (response) {
                                        $.alert("Update success");
                                        console.log(response);
                                        location.reload();
                                    }
                                    else {
                                        $.alert("Update Error");
                                    }
                                },
                            });
                        },
                        cancel: function () {

                        },
                    }
                });
                //e.preventDefault();
            });
            //btn Create
            $('.btnCreateWebsite').attr("data-toggle", "modal");
            $('.btnCreateWebsite').attr("data-target", "#myModal");
            $('.btnCreateWebsite').click(function (e) {
                $('.modal-title').html("Create Website");
                var iduser = $(this).attr('IdUser');
                var idenvironment = $("#IdE").val();
                var idproject = $("#IdP").val();
                $('.modal-body').load("/Project/CreateWebsite #create", "IdUser=" + iduser + "&IdEnvironment=" + idenvironment + "&IdProject=" + idproject, function (response) {
                    console.log(response);
                    this; // dom element
                });
                e.preventDefault();

            }); 
            //Add
            $('.btnAddWebsite').attr("data-toggle", "modal");
            $('.btnAddWebsite').attr("data-target", "#myModal");
            $('.btnAddWebsite').click(function (e) {
                $('.modal-title').html("AddWebsite ProjectEnvironments");
                var iduser = $(this).attr('IdUser');
                var idenvironment = $("#IdE").val();
                var idproject = $("#IdP").val();
                $('.modal-body').load("/Project/AddExistingWebsite #addwebsite", "IdUser=" + iduser + "&IdEnvironment=" + idenvironment + "&IdProject=" + idproject, function (response) {
                    console.log(response);
                    this; // dom element
                });
                e.preventDefault();

            });
            ////////Website//////////////////


            ////////APIs/////////////////////
            //btn Detail
            $('.btnDetailAPIs').attr("data-toggle", "modal");
            $('.btnDetailAPIs').attr("data-target", "#myModal");
            $('#DataTables_Table_4_wrapper').on('click', '.btnDetailAPIs', function () {
                $('#DataTables_Table_4_wrapper .btnDetailAPIs').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Detail API");
                var id = $(this).attr('id');
                $('.modal-body').load("/Project/DetailsAPI #Details", "id=" + id + "", function (response) {

                    this; // dom element

                });
                //e.preventDefault();

            });


            //btn Edit
            $('.btnEditAPIs').attr("data-toggle", "modal");
            $('.btnEditAPIs').attr("data-target", "#myModal");
            $('#DataTables_Table_4_wrapper').on('click', '.btnEditAPIs', function () {
                $('#DataTables_Table_4_wrapper .btnEditAPIs').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Edit APIs");
                var id = $(this).attr('id');
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/Project/EditAPI #Edit", "id=" + id + "&IdUser=" + iduser + "", function (response) {
                    this; // dom element
                });
                //e.preventDefault();

            });

            $('#DataTables_Table_4_wrapper').on('click', '.deleteAPI', function () {
                var id = $(this).attr('id');
                var userid = $(this).attr('IdUser');
                var projectid = $("#IdP").val();
                var environmentid = $("#IdE").val();
                console.log(id);
                console.log(userid);
                console.log(projectid);
                $.confirm({
                    title: 'Message',
                    content: 'Do you want to delete ?',
                    buttons: {
                        Delete: function () {
                            $.ajax({
                                type: "POST",
                                url: "/Project/DeleteAPI",
                                data: { 'id': id, 'IdUser': userid, 'ProjectId': projectid, 'EnvironmentId': environmentid },
                                dataType: "json",
                                success: function (response) {
                                    console.log(response);
                                    if (response) {
                                        $.alert("Update success");
                                        console.log(response);
                                        location.reload();
                                    }
                                    else {
                                        $.alert("Update Error");
                                    }
                                },
                            });
                        },
                        cancel: function () {
                        },
                    }
                });
                //e.preventDefault();
            });

            //btn Create
            $('.btnCreateAPIs').attr("data-toggle", "modal");
            $('.btnCreateAPIs').attr("data-target", "#myModal");
            $('.btnCreateAPIs').click(function (e) {
                $('.modal-title').html("Create APIs");
                var iduser = $(this).attr('IdUser');
                var idenvironment = $("#IdE").val();
                var idproject = $("#IdP").val();
                $('.modal-body').load("/Project/CreateAPI #create", "IdUser=" + iduser + "&IdEnvironment=" + idenvironment + "&IdProject=" + idproject, function (response) {
                    console.log(response);
                    this; // dom element
                });
                e.preventDefault();
                
            }); 
            $('.btnAddAPIs').attr("data-toggle", "modal");
            $('.btnAddAPIs').attr("data-target", "#myModal");
            $('.btnAddAPIs').click(function (e) {
                $('.modal-title').html("AddAPI ProjectEnvironments");
                var iduser = $(this).attr('IdUser');
                var idenvironment = $("#IdE").val();
                var idproject = $("#IdP").val();
                $('.modal-body').load("/Project/AddExistingAPI #addapi", "IdUser=" + iduser + "&IdEnvironment=" + idenvironment + "&IdProject=" + idproject, function (response) {
                    console.log(response);
                    this; // dom element
                });
                e.preventDefault();

            });
            ///////APIs//////////////////////
        }); 
        ///////////////////////////////// Environment
        $('.btnAddEnv').attr("data-toggle", "modal");
        $('.btnAddEnv').attr("data-target", "#myModal");
        $('.btnAddEnv').click(function (e) {
            $('.modal-title').html("Add ProjectEnvironments");
            var iduser = $(this).attr('IdUser');
            var projectid = $("#IdP").val();
            $('.modal-body').load("/Project/CreateProEnv #create", "ProjectId=" + projectid + "&IdUser=" + iduser, function (response) {
                console.log(response);
                this; // dom element
            });
            e.preventDefault();

        });

        
        
        $('.btnDeleteEnv').click(function (e) {
            var projectid = $("#IdP").val();
            var iduser = $(this).attr('IdUser');
            var environmentid = $("#IdE").val();
            $.confirm({
                title: 'Message',
                content: 'Do you want to delete ?',

                buttons: {
                    Delete: function () {
                        $.ajax({
                            type: "POST",
                            url: "/Project/DeleteEnvironment",
                            data: { 'ProjectId': projectid, 'IdUser': iduser, 'EnvironmentId' : environmentid },
                            dataType: "json",
                            success: function (response) {
                                console.log(response);
                                if (response) {
                                    $.alert("Update success");
                                    console.log(response);
                                }
                                else {
                                    $.alert("Update Error");
                                }
                            },
                        });
                        location.reload();
                    },
                    cancel: function () {

                    },
                }
            });
            e.preventDefault();
        });
        ////////////////////////////////
    </script>
    <script>
        $('.deletesv').click(function (e) {
            var id = $(this).attr('id');

            $.confirm({
                title: 'Message',
                content: 'Do you want to delete ?',

                buttons: {
                    Delete: function () {
                        $.ajax({
                            type: "POST",
                            url: "/Servers/DeleteServer",
                            data: { 'id': id },
                            dataType: "json",
                            success: function (response) {
                                console.log(response);
                                if (response) {
                                    $.alert("Update success");
                                    console.log(response);
                                    location.reload();
                                }
                                else {
                                    $.alert("Update Error");
                                }
                            },
                        });
                    },
                    cancel: function () {

                    },
                }
            });
            e.preventDefault();
        });
    </script>

    <script>
        dialog = $(".dialog1").dialog({
            title: "Create ",
            autoOpen: false,
            height: 450,
            width: 600,
            modal: true,

        });
        $('.createdb').click(function (e) {
            $('.dialog1').load("/Databases/Create #createdb", "", function (response) {
                this;
            });
            dialog.dialog("open");
            e.preventDefault();

        });
    </script>
    
}
