﻿@model ManageProject.Models.UserProject
@{
    ViewBag.Title = "Create Roles for User";

}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Create", "ManageUserProject", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row hidedata" id="hidDiv">
        <div class="col-md-6 col-lg-offset-3">
            <form class="form-horizontal">

                <div class="form-group">
                    <label for="ProjectId" class="col-sm-4 control-label">ProjectName:</label>
                    <div class="col-sm-8">

                        @Html.DropDownListFor(model => model.ProjectId, ViewBag.ListProject as SelectList, String.Empty)

                    </div>
                </div>
                <div class="form-group">
                    <label for="UserId" class="col-sm-4 control-label">UserName:</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.UserId, ViewBag.ListUser as SelectList, "--Select--", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <
                <div class="form-group">
                    <label for="TaskUser" class="col-sm-4 control-label">TaskUser:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="TaskUser">

                    </div>
                </div>
                <div class="form-group">
                    <label for="PositionUser" class="col-sm-4 control-label">PositionUser:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="PositionUser">

                    </div>
                </div>



                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-info">Submit</button>
                        <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back</a>
                    </div>
                </div>

            </form>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
