﻿@model ManageProject.Models.ApplicationUser
@{
    ViewBag.Title = "Delete User";
}

<h2>@ViewBag.Title</h2>
<div id="delete">
    <div>
        <div class="text-center">
            <h4> Do you sure want to delete <strong class="text-danger">@Model.Email</strong>?</h4>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <button type="submit" class="btn btn-primary">Accept</button>

                    <a href="@Url.Action("Index")" class="btn btn-danger">Cancel</a>
                </div>
            }
        </div>
    </div>
</div>

