﻿@model ManageProject.Models.ApplicationUser
@{
    ViewBag.Title = "Edit info User";
}

<h2>@ViewBag.Title</h2>
<div id="Edit">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.AntiForgeryToken()
        <div class="form-group">
            <label>Account:</label>
            <label>@Model.Email</label>
        </div>
        <div class="form-group">
            Confirm Email
            @Html.CheckBox("EmailConfirmed", Model.EmailConfirmed == true ? true : false)
        </div>
        <div class="form-group">
            <label>Phone number</label>
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", required = "required", @type = "number" })
        </div>
        <div class="form-group">
            <label>Lock account</label>
            @Html.CheckBox("LockoutEnabled", Model.LockoutEnabled == true ? true : false)
        </div>
        <div class="form-group">
            <label>FullName</label>
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", required = "required", })
        </div>
        <div class="form-group">
            <label>Bitbucket Account</label>
            @Html.TextBoxFor(m => m.BitbucketAccount, new { @class = "form-control", required = "required", })
            @Html.HiddenFor(Model => Model.Createby)
            @Html.HiddenFor(Model => Model.Createdate)
            @Html.HiddenFor(Model => Model.Deleteby)
            @Html.HiddenFor(Model => Model.Deletedate)
            @Html.HiddenFor(Model => Model.IsDelete)
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Edit</button>
            <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>
        </div>
    }
</div>