﻿@model ManageProject.Models.ApplicationUser
@{
    ViewBag.Title = " Edit permission of User";
    var tmp = ViewBag.NameRoles;
    var tmp2 = ViewBag.NameRoles2;
}
<div id="Edit">
    <h2>@ViewBag.Title</h2>
    <br />
    <br />
    <h4>Member <b class="text-danger">@Model.Email</b></h4>
    <table class="table table-bordered" id="myTable">
        <thead>
            <tr>
                <td><b> Existing permissions</b></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.NameRoles != null)
            {
                foreach (var item in tmp)
                {
                    <tr>
                        <td class=" col-md-8 text-danger">@item.Name <br /> </td>
                        <td class="text-center ">
                            <form action="@Url.Action("DeleteRoles",new{UserId=Model.Id,RoleId=item.Id})" method="post">
                                @Html.AntiForgeryToken()
                                <button type="submit" class=" btn  btn-danger">Delete  </button>
                            </form>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <p><b>Member has no permission.</b></p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h5 style="" class=" panel-default"><strong>Add permission for this member:</strong></h5>
    <table class="table table-bordered" id="myTable2">
        <thead>
            <tr>
                <td><b>Role</b></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.NameRoles2 != null)
            {
                foreach (var item in tmp2)
                {
                    <tr>
                        <td class=" col-md-8 text-danger">@item.Name <br /> </td>
                        <td class="text-center ">
                            <form action="@Url.Action("EditRole",new{UserId = Model.Id,RoleId=item.Id})" method="post">
                                @Html.AntiForgeryToken()
                                <button type="submit" class=" btn  btn-success">Add </button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
    <br />
    <div class="form-group">
        <a href="/ManageUserRoles/Index" class="btn btn-primary">Back to List</a>
    </div>
</div>
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts{

    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
        $(document).ready(function () {
            $('#myTable2').DataTable();
        });
    </script>


}