﻿@using ManageProject.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "User List";

}

<h2>@ViewBag.Title</h2>
<br />
<table class="table table-bordered table-striped table-hover"   id="myTable">
    <thead style="background-color:forestgreen;color:white">
        <tr>
            <th>Username</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    
                    @Html.Raw(@Html.Label("[replacetext]", new { id = item.Id, @class = "btnEdit" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Edit.ico\" height=\"30\">"))
                    @Html.Raw(@Html.Label("[replacetext]", new { id = item.Id,  @class = "btnEditRole" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/editRole.png\" height=\"30\">"))
                    @Html.Raw(@Html.Label("[replacetext]", new { id = item.Id, @class = "btndelete" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Recycle.png\" height=\"30\">"))

                </td>
            </tr>
        }

    </tbody>
</table>
<div>
    <a href="@Request.UrlReferrer" class="btn btn-primary">Back to List</a>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:forestgreen;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Database</h4>
            </div>
            <div class="modal-body">
                <div class="dialog1 ">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color:gray;color:white"class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
@section Scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            
            $('.btndelete').attr("data-toggle", "modal");
            $('.btndelete').attr("data-target", "#myModal");
            $('.btndelete').click(function (e) {
                $('.modal-title').html("Delete ManageUserRoles");
                var id = $(this).attr('id');
                $('.modal-body').load("/ManageUserRoles/Delete #delete", "id=" + id, function (response) {
                    this; // dom element
                });
                e.preventDefault();
            });

            $('.btnEdit').attr("data-toggle", "modal");
            $('.btnEdit').attr("data-target", "#myModal");
            $('.btnEdit').click(function (e) {
                $('.modal-title').html("Edit User");
                var id = $(this).attr('id');
                $('.modal-body').load("/ManageUserRoles/Edit #Edit", "id=" + id , function (response) {
                    this; // dom element
                });

         
                e.preventDefault();

            });

            $('.btnEditRole').attr("data-toggle", "modal");
            $('.btnEditRole').attr("data-target", "#myModal");
            $('.btnEditRole').click(function (e) {
                $('.modal-title').html("Edit UserRole");
                var id = $(this).attr('id');
                $('.modal-body').load("/ManageUserRoles/EditRole #Edit", "id=" + id, function (response) {
                    this; // dom element
                });


                e.preventDefault();

            });

        });
       
    </script>


}