﻿@model ManageProject.BuilderDesignPattern.Email

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Email</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Body)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NameFile)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NameFile)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sender)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sender)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Receiver)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Receiver)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Updatedate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Updatedate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Updateby)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Updateby)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Createdate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Createdate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Createby)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Createby)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Deletedate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Deletedate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Deleteby)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Deleteby)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsDelete)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsDelete)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdEmail }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
