﻿@model IEnumerable<ManageProject.BuilderDesignPattern.Email>

@{
    //  Layout = null;
}

<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>


    <br />
    <div class="container" style="background-color:floralwhite">
        <div class="row">
            <br />
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
            <br />
            <br />
        </div>
        <div class="row">
            <div class="row" style="background-color:blueviolet; font-size:large ;color:white;border-top-left-radius: 5px; border-top-right-radius: 5px;">
                Email
                <span class="btnhover" style="float:right;font-size:20px;margin-right:10px;cursor:pointer">+</span>
            </div>

            <div class="col-xl-8 offset-xl-2 py-5 showEmail" style="background-color:aliceblue">
                <form id="contact-form" method="post" role="form" action="/Emails/SendMail">
                    <div class="messages"></div>
                    <div class="controls">
                        <div class="row">
                            <div class="">
                                <div class="form-group">
                                    <br />
                                    <label for="form_name " class="col-md-2 col-lg-offset-2">To *</label>
                                    <input id="form_name" type="text" name="name" class="form-control clasto col-xs-12  "  required="required" data-error="Firstname is required." style="width:600px;background-color:cornflowerblue" >
                                    @*<div class="clasto"></div>*@
                                   &nbsp;
                                    <select name="ListUser" id="ListUser" class="  form-control btn-danger btn " style="width:50px">
                                        <option class="form-control "> ---List User---</option>
                                        @foreach (var x in ViewBag.ListUser)
                                        {
                                            <option class="form-control" value="@x">
                                                @x
                                            </option>
                                        }
                                    </select>

                                </div>
                            </div>
                            <div class="">
                                <div class="form-group">
                                    <label for="form_lastname" class="col-md-2 col-lg-offset-2">Bcc </label>
                                    <input id="form_bcc" type="text" name="surname" class="form-control  col-xs-12"  required="required" data-error="Lastname is required." style="background-color:cornflowerblue">
                                    &nbsp;
                                    <select name="ListUser1" id="ListUser1" class="  form-control btn btn-danger  " style="width:50px">
                                        <option class="form-control"> ---List User---</option>
                                        @foreach (var x in ViewBag.ListUser)
                                        {
                                            <option class="form-control" value="@x">
                                                @x
                                            </option>
                                        }
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="">
                                <div class="form-group">
                                    <label for="form_email" class="col-md-2 col-lg-offset-2">Cc </label>
                                    <input id="form_cc" type="email" name="email" class="form-control col-xs-12" required="required" data-error="Valid email is required." style="background-color:cornflowerblue">
                                    &nbsp;
                                    <select name="ListUser2" id="ListUser2" class="  form-control btn btn-danger " style="width:50px">
                                        <option class="form-control"> ---List User---</option>
                                        @foreach (var x in ViewBag.ListUser)
                                        {
                                            <option class="form-control" value="@x">
                                                @x
                                            </option>
                                        }
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="">
                                <div class="form-group">
                                    <label class="col-md-2 col-lg-offset-2">Please choose Project *</label>
                                    <select name="TypeEmail" id="" class="NameProject  form-control  ">
                                        @foreach (var x in ViewBag.Project)
                                        {

                                            <option class="form-control" selected="selected" value="@x.Project">
                                                @x.ProjectName
                                            </option>

                                        }
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="">
                                <div class="form-group">
                                    <label for="" class="col-md-2 col-lg-offset-2">Please choose Type Email *</label>
                                    <select name="garden" id="" class="typeEmail  form-control  ">
                                        <option class=" form-control" selected="selected" value="null">
                                            ------Type Email------
                                        </option>
                                        @foreach (var x in ViewBag.Type)
                                        {
                                            <option class=" form-control" value="@x">
                                                @x
                                            </option>
                                        }
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class=" hidedb">
                                <div class="form-group">
                                    <label class="hidedb col-md-2 col-lg-offset-2">Please choose Database </label>
                                    <select name="Database" id="" class="Database  form-control  "></select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class=" hidepro">
                                <div class="form-group">
                                    <label class="hidepro col-md-2 col-lg-offset-2">Please choose Protocol *</label>
                                    <select name="Protocol" id="" class="Protocol  form-control  "></select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class=" hidesv">
                                <div class="form-group">
                                    <label class="hidesv col-md-2 col-lg-offset-2">Please choose Server *</label>
                                    <select name="Server" id="" class="Server  form-control  "></select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                  
                                    <button id="btnGui" class="btn">Show</button>
                                    <button id="HideGUI" class="btn">View</button>
                                    <div class="GUI"></div>
                                    <div class="help-block with-errors"></div>
                                </div>

                            </div>
                            <div class="col-md-12">

                                <input type="submit" class="btn btn-success btn-send" value="Send message">

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-muted">

                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="Gui">

                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.8 -->
        </div>
        <!-- /.row-->
    </div>
    <!-- /.container-->

    <div id="txtEditor" ></div>

<link href="~/Content/MainCss.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/editor.css" rel="stylesheet" />

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/Scripts/IProject/editor.js"></script>
    <script src="~/Scripts/IProject/ProjectJS.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

    <script>
        
        $(".hidepro").hide();
        $(".hidedb").hide();
        $("#ListUser").on("change", function () {
            var tmp = $("#ListUser :selected").text().trim();
            if (tmp !="---List User---") {
                $(".clasto").val(tmp);
            }
        });
      
        $("#ListUser1").on("change", function () {

            var tmp = $("#ListUser1 :selected").text().trim();
            if (tmp != "---List User---") {
                $("#form_bcc").val(function () {
                   
                        return this.value + tmp +"-";
                    }
                    
                );
                $("#ListUser1 option[value='"+tmp+"']").each(function () {
                    $(this).remove();
                });
                
            }
            
        });
       
        $("#ListUser2").on("change", function () {

            var tmp = $("#ListUser2 :selected").text().trim();
            if (tmp != "---List User---") {
                $("#form_cc").val(function () {
                    
                    return this.value + tmp + "-";
                    console.log(this.value);
                    }
                );
                
                $("#ListUser2 option[value='" + tmp + "']").each(function () {
                    $(this).remove();
                });
            }

        });

        var isclick = false;
        $("#HideGUI").click(function (e) {
            $(".Editor-container").toggle("slow");
            $(this).html("View");
            e.preventDefault();

        });
        $(".btnhover").click(function (e) {
            $(".showEmail").toggle("slow");
            if (isclick) {
               
                $(".btnhover").html("-");
                $(".row").css("background - color", "black");
                isclick = !isclick;
            }
             if (isclick == false) {
                
                 $(".btnhover").html("+");
                $(".row").css("background - color", "blueviolet");
                isclick = !isclick;
            }
            e.preventDefault();

        });
        $("#btnGui").click(function (e) {
            var type = $(".typeEmail :selected").text().trim();
            var namepro = $(".Protocol :selected").text().trim();
            var namedb = $(".Database :selected").text().trim();
            var nameproject = $(".NameProject :selected").text().trim();
            var namesv = $(".Server").val();
            var nameenv = $(".Server :selected").attr('name');
            $.ajax({
                type: 'POST',
                url: '/Emails/ChangeHtml',
                data: { 'name': nameproject, 'type': type, 'namepro': namepro, 'namedb': namedb, 'namesv': namesv, 'nameenv': nameenv },
                success: function (result) {
                    $(".Editor-editor").html(result);
                    return false;
                }
            });
            e.preventDefault();
        });
        $('.typeEmail, .NameProject').change(function(e)  {
            var id = $(this).attr('id');
            var x = $(".typeEmail :selected").text().trim();
            var namepro = $(".Protocol :selected").text().trim();
            var namedb = $(".Database :selected").text().trim();
            var nameproject = $('#contact-form .NameProject').val();
            console.log(x.trim());
            if (x == "Database") {
                $(".Database").show();
                $(".Protocol").hide();
                $(".Server").hide();
                $(".hidepro").hide();
                $(".hidesv").hide();
                $(".hidedb").show();
                var nameproject = $('#contact-form .NameProject').val();
                $.ajax({
                    type: "POST",
                    url: "/Emails/ChangeDatabase",
                    data: { 'name': nameproject },
                    dataType: "json",
                    success: function (response) {
                        $(".Database").children('option').remove();
                        for (var i = 0; i < response.ListDatabase.length; i++) {
                            var x = response.ListDatabase[i];
                            $(".Database").append("<option value='" + x + "'> " + x + " </option>");
                            console.log(response.ListDatabase[i]);
                        }
                    }
                });
            }
            if (x == "Protocol") {
                $(".Protocol").show();
                $(".Database").hide();
                $(".Server").hide();
                $(".hidepro").show();
                $(".hidedb").hide();
                $(".hidesv").hide();
                var nameproject = $('#contact-form .NameProject').val();
                $.ajax({
                    type: "POST",
                    url: "/Emails/ChangeProtocol",
                    data: { 'name': nameproject },
                    dataType: "json",
                    success: function (response) {
                        $(".Protocol").children('option').remove();
                        for (var i = 0; i < response.ListProtocols.length; i++) {
                            var x = response.ListProtocols[i];
                            $(".Protocol").append("<option value='" + x + "'> " + x + " </option>");

                        }
                    }
                });
            }
            if (x == "Server") {
                $(".Server").show();
                $(".Protocol").hide();
                $(".Database").hide();
                $(".hidesv").show();
                $(".hidepro").hide();
                $(".hidedb").hide();
                var nameproject = $('#contact-form .NameProject').val();
                $.ajax({
                    type: "POST",
                    url: "/Emails/ChangeServer",
                    data: { 'name': nameproject },
                    dataType: "json",
                    success: function (response) {
                        $(".Server").children('option').remove();
                        for (var i = 0; i < response.ListServer.length; i++) {
                            var y = response.ListServer[i];
                            var z = response.ListEnvironment[i];
                            $(".Server").append("<option value='" + y + "'"+"name='"+z+"'> " + y + " - " + z + " </option>");
                        }
                    }
                });
            }
        });
    </script>

    <script>
        $(function () {
            $("#txtEditor").Editor();
        });

        $(".btn-send").click(function (e) {
            
            var body = $(".Editor-editor").html();
            console.log(body);
            var toEmail = $(".clasto").val();
            var bcc = $("#form_bcc").val();
            var cc = $("#form_cc").val();
            $.ajax({
                type: "POST",
                url: "/Emails/SendMail",
                data: { 'body': body, 'toEmail': toEmail,'Bcc':bcc,'Cc':cc},
                dataType: "json",
                success: function (response) {
                    location.reload();
                    console.log("successfully");
                    
                }
            });
           
            e.preventDefault();

        });
    </script>
}
