﻿@model ManageProject.Models.ServerEnvironments

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<div id="Edit">
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <div style="text-align:center">
            <div class="row">
                <div class="col-6">
                    Server '<strong>@Model.Servers.ServerName</strong>'
                </div>
                <div class="col-6">
                    Environment '<strong>@Model.Environments.Type</strong>'
                </div>

            </div>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                @Html.HiddenFor(Model => Model.Createby)
                @Html.HiddenFor(Model => Model.Createdate)
                @Html.HiddenFor(Model => Model.Deleteby)
                @Html.HiddenFor(Model => Model.Deletedate)
                @Html.HiddenFor(Model => Model.IsDelete)
                @Html.HiddenFor(Model => Model.Environment)
                @Html.HiddenFor(Model => Model.Server)
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
</div>
<div>
    <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
