﻿@model IEnumerable<ManageProject.Models.ServerEnvironments>
@using Microsoft.AspNet.Identity
@using ManageProject.Models;
@using ManageProject.DAL.NUoW;

@{
    ViewBag.Title = "Server Environment Information";
    ApplicationDbContext db = new ApplicationDbContext();
    GenericUnitOfWork unitOfWork = new GenericUnitOfWork();
    var userId = User.Identity.GetUserId();

    var listProjectByUserId = db.UserProjects.Where(x => x.UserId == userId && x.Disable == false).Select(k => k.Project).ToList();
    bool isEnviProject(string envi_Id/*, string ser_Id*/)
    {
        //var listProByEnviId = db.ProjectEnvironments.Where(m => m.Environment == envi_Id).Select(n => n.Project).ToList();
        //kiem tra co phai la PM co IdProject == para hk
        var listProByEnviId = unitOfWork.Repository<ProjectEnvironments>().Get(filter: s => s.Environment == envi_Id && s.IsDelete == false, includeProperties: "Environments.ServerEnvironments").Select(s=>s.Project).Distinct();
        //var c = listProByEnviId.Select(s => s.Select(t => t.Project).FirstOrDefault());
        foreach (var x in listProjectByUserId)
        {
            foreach (var item in listProByEnviId)
            {
                if (x == item)
                    return true;
            }
        }
        return false;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
@if (User.IsInRole("Admin") || (User.IsInRole("PM")))
{
    <button class="btn btnCreate" style="background-color:green;color:white;height:40px;margin-bottom:20px;" IdUser="@User.Identity.GetUserId()">Add New</button>
   
}

<table class="table table-bordered table-hover table-striped" id="myTable">
    <thead style="background-color:forestgreen;color:white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Servers.ServerName)
            </th>
            <th>
                Environment
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Servers.ServerName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Environments.Type)
            </th>
            <td class=" col-md-4">
                @if (User.IsInRole("Admin") || (User.IsInRole("PM") && isEnviProject(item.Environment)))
{
            @Html.Raw(@Html.Label("[replacetext]", new { IdEnvironment = item.Environment, IdServer = item.Server, IdUser = User.Identity.GetUserId(), @class = "btnEdit", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Edit.ico\" height=\"30\">"))
            @Html.Raw(@Html.Label("[replacetext]", new { IdEnvironment = item.Environment, IdServer = item.Server, IdUer = User.Identity.GetUserId(), @class = "btndelete", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Recycle.png\" height=\"30\">"))

        }
        else
        {
            <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Recycle.png" /></button>
            <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Edit.ico" /></button>

        }

                @Html.Raw(@Html.Label("[replacetext]", new { IdServer = item.Server, IdEnvironment = item.Environment, @class = "btnDetail", @style = "cursor:pointer" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/My-Documents.png\" height=\"30\">"))

            </td>
        </tr>
        }
    </tbody>


</table>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:forestgreen;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Database</h4>
            </div>
            <div class="modal-body">
                <div class="dialog1 ">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color:gray;color:white" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
@section Scripts{
    <script src="~/Scripts/IProject/ProjectJS.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            

            $('.btndelete').attr("data-toggle", "modal");
            $('.btndelete').attr("data-target", "#myModal");
            $('#myTable').on('click', '.btndelete', function () {
                $('#myTable label').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Delete ServerEnvironments");
                var idserver = $(this).attr('IdServer');
                var iduser = $(this).attr('IdUser');
                var idenvironment = $(this).attr('IdEnvironment');
                $('.modal-body').load("/ServerEnvironments/Delete #delete", "IdServer=" + idserver + "&IdUser=" + iduser + "" + "&IdEnvironment=" + idenvironment, function (response) {
                    this; // dom element
                });
                //e.preventDefault();
            });

            $('.btnDetail').attr("data-toggle", "modal");
            $('.btnDetail').attr("data-target", "#myModal");
            $('#myTable').on('click', '.btnDetail', function () {
                $('#myTable label').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Details ServerEnvironments");
                var idserver = $(this).attr('IdServer');
                var idenvironment = $(this).attr('IdEnvironment');
                $('.modal-body').load("/ServerEnvironments/Details #Details", "IdServer=" + idserver + "&IdEnvironment=" + idenvironment, function (response) {

                    this; // dom element

                });
                //e.preventDefault();

            });

            $('.btnEdit').attr("data-toggle", "modal");
            $('.btnEdit').attr("data-target", "#myModal");
            $('#myTable').on('click', '.btnEdit', function () {
                $('#myTable label').attr("data-toggle", "modal").attr("data-target", "#myModal");
                $('.modal-title').html("Edit ServerEnvironments");
                var idserver = $(this).attr('IdServer');
                var iduser = $(this).attr('IdUser');
                var idenvironment = $(this).attr('IdEnvironment');
                $('.modal-body').load("/ServerEnvironments/Edit #Edit","&IdServer=" + idserver + "&IdUser=" + iduser + "" + "&IdEnvironment=" + idenvironment, function (response) {
                    this; // dom element
                });
                //e.preventDefault();
            });

            $('.btnCreate').attr("data-toggle", "modal");
            $('.btnCreate').attr("data-target", "#myModal");
            $('.btnCreate').click(function (e) {
                $('.modal-title').html("Add ServerEnvironments");
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/ServerEnvironments/Create #create", "IdUser=" + iduser, function (response) {
                    console.log(response);
                    this; // dom element
                });
                e.preventDefault();

            });
        });
    </script>


}
