﻿@model ManageProject.Models.Bitbuckets

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div id="Details">
    <div>
        <hr />
        <table class="table table-bordered" style="background-color:lightgreen">
            <tr>
                <td><strong>ProjectName</strong></td>
                <td> @Html.DisplayFor(model => model.Projects.ProjectName)</td>
            </tr>
            <tr>
                <td><strong>Link</strong></td>
                <td> @Html.DisplayFor(model => model.Link)</td>
            </tr>
            <tr>
                <td> <strong>InfoBitbucket</strong></td>
                <td>@Html.DisplayFor(model => model.InfoBitbucket)</td>
            </tr>
            <tr>
                <td><strong>Create Date</strong></td>
                <td class="text-center " style="font-size:smaller;color:black"><strong>@Html.DisplayFor(model => model.Createby)</strong>  <br /><strong> @Html.DisplayFor(model => model.Createdate)</strong> </td>

            </tr>
            <tr>
                <td><strong>Update Date</strong></td>
                <td class="text-center" style="font-size:smaller;color:black"><strong>@Html.DisplayFor(model => model.Updateby)</strong>  <br /><strong>@Html.DisplayFor(model => model.Updatedate)</strong> </td>

            </tr>
        </table>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Bitbucket }, new { @class = "btn btn-sm btn-primary" }) |
    <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>
</p>
