﻿@model IEnumerable<ManageProject.BuilderDesignPattern.Email>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create","Emails")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updatedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updateby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deletedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleteby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDelete)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receiver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updatedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updateby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deletedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleteby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelete)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdEmail }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdEmail }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdEmail })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
