﻿@model ManageProject.Models.ProjectEnvironments

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProjectEnvironments</h4>
    <hr />
    <div id="delete">
        <div class="text-center">
            <h4>
                Do you sure want to delete ?
            </h4>
                <div>
                    <div class="row">
                        <div class="col-6">
                            Project '<strong class="text-danger">@Model.Projects.ProjectName</strong>'
                        </div>
                        <div class="col-6">
                            Environment '<strong class="text-danger">@Model.Environments.Type</strong>'
                        </div>

                    </div>
                </div>
            <hr />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <button type="submit" class="btn btn-primary">Accept</button>
                    <a href="@Request.UrlReferrer" class="btn  btn-danger">Back to List</a>
                </div>
            }
        </div>
    </div>

    
</div>
