﻿@model ManageProject.Models.ProjectEnvironments

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div id="Details">
    <table class="table table-bordered" style="background-color:lightgreen">
        <tr>
            <td> <strong>Project Name</strong></td>
            <td> @Html.DisplayFor(model => model.Projects.ProjectName)</td>
        </tr>

        <tr>
            <td> <strong>Environment</strong></td>
            <td>@Html.DisplayFor(model => model.Environments.Type)</td>
        </tr>

        <tr>
            <td><strong>Create Date</strong></td>
            <td class="text-center " style="font-size:smaller;color:black"><strong>@Html.DisplayFor(modelItem => Model.Createby)</strong>  <br /><strong> @Html.DisplayFor(modelItem => Model.Createdate)</strong> </td>
        </tr>
        <tr>
            <td><strong>Update Date</strong></td>
            <td class="text-center" style="font-size:smaller;color:black"><strong>@Html.DisplayFor(modelItem => Model.Updateby)</strong>  <br /><strong>@Html.DisplayFor(modelItem => Model.Updatedate)</strong> </td>
        </tr>
    </table>
        
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { ProjectId = Model.Project, EnvironmentId = Model.Environment }, new { @class = "btn btn-sm btn-primary" })
    <a href="@Request.UrlReferrer" class="btn btn-sm btn-primary">Back to List</a>
</p>