﻿@model IEnumerable<ManageProject.Models.ProjectEnvironments>
@using Microsoft.AspNet.Identity
@using ManageProject.Models;
@{
    ViewBag.Title = "Project Environment Information";
    ApplicationDbContext db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();

    var listProjectByUserId = db.UserProjects.Where(x => x.UserId == userId).Select(k => k.Project).ToList();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
@if (User.IsInRole("Admin") || (User.IsInRole("PM")))
{
    <button class="btn btnCreate" style="background-color:green;color:white;height:40px;margin-bottom:20px;" IdUser="@User.Identity.GetUserId()">Add New</button>

}
<table class="table table-bordered table-hover table-striped" id="myTable">
    <thead style="background-color:forestgreen;color:white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projects.ProjectName)
            </th>
            <th>
                Environment
            </th>
            
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Projects.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Environments.Type)
            </td>
            


            <td class="col">
                @if (User.IsInRole("Admin") || (User.IsInRole("PM")))
                {
                    @Html.Raw(@Html.Label("[replacetext]", new { ProjectEnvironmentId = item.Id ,IdUser = User.Identity.GetUserId(),@class = "btnEdit",@style = "cursor:pointer"}).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Edit.ico\" height=\"30\">"))
                    @Html.Raw(@Html.Label("[replacetext]", new { ProjectEnvironmentId = item.Id ,IdUer = User.Identity.GetUserId(),@class = "btndelete",@style = "cursor:pointer"}).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Recycle.png\" height=\"30\">"))

                }
                else
                {
                    <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Recycle.png" /></button>
                    <button disabled class="btn btn-sm btn-success" style="background-color:darkgray">  <img height="20" src="~/Content/ima/Edit.ico" /></button>

                }

                @Html.Raw(@Html.Label("[replacetext]", new { ProjectEnvironmentId = item.Id, @class = "btnDetail", @style = "cursor:pointer"}).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/My-Documents.png\" height=\"30\">"))

            </td>
        </tr>
        }
    </tbody>


</table>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:forestgreen;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Database</h4>
            </div>
            <div class="modal-body">
                <div class="dialog1 ">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color:gray;color:white" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
@section Scripts{
    <script src="~/Scripts/IProject/ProjectJS.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();

            $('.btndelete').attr("data-toggle", "modal");
            $('.btndelete').attr("data-target", "#myModal");
            $('.btndelete').click(function (e) {
                $('.modal-title').html("Delete ProjectEnvironments");
                var projectenvironmentid = $(this).attr('ProjectEnvironmentId');
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/ProjectEnvironments/Delete #delete", "ProjectEnvironmentId=" + projectenvironmentid + "&IdUser=" + iduser , function (response) {
                    this; // dom element
                });
                e.preventDefault();
            });

            $('.btnDetail').attr("data-toggle", "modal");
            $('.btnDetail').attr("data-target", "#myModal");
            $('.btnDetail').click(function (e) {
                $('.modal-title').html("Details ProjectEnvironments");
                var projectenvironmentid = $(this).attr('ProjectEnvironmentId');
                $('.modal-body').load("/ProjectEnvironments/Details #Details", "ProjectEnvironmentId=" + projectenvironmentid/*"ProjectId=" + projectid + "&EnvironmentId=" + environmentid*/, function (response) {

                    this; // dom element

                });
                e.preventDefault();

            });

            $('.btnEdit').attr("data-toggle", "modal");
            $('.btnEdit').attr("data-target", "#myModal");
            $('.btnEdit').click(function (e) {
                $('.modal-title').html("Edit ProjectEnvironments");
                var projectenvironmentid = $(this).attr('ProjectEnvironmentId');
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/ProjectEnvironments/Edit #Edit", "ProjectEnvironmentId=" + projectenvironmentid + "&IdUser=" + iduser /*+ "" + "&EnvironmentId=" + environmentid*/, function (response) {
                    this; // dom element
                });
                e.preventDefault();
            });

            $('.btnCreate').attr("data-toggle", "modal");
            $('.btnCreate').attr("data-target", "#myModal");
            $('.btnCreate').click(function (e) {
                $('.modal-title').html("Add ProjectEnvironments");
                var iduser = $(this).attr('IdUser');
                $('.modal-body').load("/ProjectEnvironments/Create #create", "IdUser=" + iduser, function (response) {
                    console.log(response);
                    this; // dom element
                });
                e.preventDefault();

            });
        });
    </script>

}
