﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Create New Role";
}

<h2>@ViewBag.Title</h2>
<br />
<br />
<div id="create">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">

            <label for="Name">Name*</label>
            @Html.TextBoxFor(m => m.Name, new { id = "Name", @class = "form-control", required = "required" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn" style="background-color:green;color:white">Create Role </button>
          
           
        </div>
    }
</div>
<div>
    <a href="@Request.UrlReferrer" class="btn  btn-danger">Back to List</a>
</div>

