﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Delete Roles";
}

<h2>@ViewBag.Title</h2>
<div id="delete">
<div class="text-center">
    Do you sure want to delete role @Model.Name?
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <button type="submit" class="btn btn-danger">Accept</button>
      
        <a href="@Request.UrlReferrer" class="btn  btn-primary">Back </a>
    }
</div>
</div>

