﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Edit Role";
}

<h2>@ViewBag.Title</h2>
<br /><br />
<div id="Edit">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group ">
        <table class=" row" >
            <tr>
                <td>Tên Role</td>
                <td>
                    @Html.TextBoxFor(model => model.Name, new { @class = " form-control " })
                   
                </td>
               
            </tr>
        </table>
       
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Edit</button>
        
       
    </div>
}
</div>
<div>
    <a href="@Request.UrlReferrer" class="btn  btn-primary">Back to List</a>
</div>
