﻿@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@model  IEnumerable<IdentityRole>
@{
    ViewBag.Title = " Roles List";
}

<h2> @ViewBag.Title</h2>
<hr />
<button class="btn btn-primary btnCreate" style="background-color:green;color:white;height:40px" >Create Role</button>
<p></p>


<table class="table table-bordered table-hover table-striped" id="myTable">

    <thead  style="background-color:forestgreen;color:white">
        <tr>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Name  </td>
                <td>
                    @Html.Raw(@Html.Label("[replacetext]", new { Id = item.Id, @class = "btnEdit" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Edit.ico\" height=\"30\">"))
                    @Html.Raw(@Html.Label("[replacetext]", new { Id = item.Id, @class = "btndelete" }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/ima/Recycle.png\" height=\"30\">"))

                </td>
            </tr>
        }
    </tbody>
</table>
<div>

    <a href="@Request.UrlReferrer" class="btn btn-primary">Back to List</a>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Database</h4>
            </div>
            <div class="modal-body">
                <div class="dialog1 ">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
@section Scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            
            $('.btndelete').attr("data-toggle", "modal");
            $('.btndelete').attr("data-target", "#myModal");
            $('.btndelete').click(function (e) {
                $('.modal-title').html("Delete Role");
                var id = $(this).attr('Id');

                $('.modal-body').load("/ManagerRoles/Delete #delete", "id=" + id, function (response) {
                    this; // dom element
                });
                e.preventDefault();

            });

            $('.btnCreate').attr("data-toggle", "modal");
            $('.btnCreate').attr("data-target", "#myModal");
            $('.btnCreate').click(function (e) {
                $('.modal-title').html("Create Role");
                $('.modal-body').load("/ManagerRoles/Create #create","" , function (response) {
                    console.log(response);
                    this; // dom element
                });
                e.preventDefault();

            });
            $('.btnEdit').attr("data-toggle", "modal");
            $('.btnEdit').attr("data-target", "#myModal");
            $('.btnEdit').click(function (e) {
                $('.modal-title').html("Edit Role");
                var id = $(this).attr('Id');
                
                $('.modal-body').load("/ManagerRoles/Edit #Edit", "id=" +id, function (response) {
                    this; // dom element
                });
                e.preventDefault();

            });

        });
    </script>


}