﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .container {
            margin: 3px auto;
            width: 100%;
        }

        /* general styles */
        .menu, .menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .menu {
            height: 58px;
        }

            .menu li {
                background: -moz-linear-gradient(#292929, #252525);
                /*background: -ms-linear-gradient(#292929, #252525);*/
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #252525));
                background: -webkit-linear-gradient(#292929, #252525);
                background: -o-linear-gradient(#292929, #252525);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#252525');
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#252525')";
                background: linear-gradient(#292929, #252525);
                border-bottom: 2px solid #181818;
                border-top: 2px solid #303030;
                min-width: 160px;
            }

            .menu > li {
                display: block;
                float: left;
                position: relative;
            }

                .menu > li:first-child {
                    border-radius: 5px 0 0;
                }

            .menu a {
                border-left: 3px solid rgba(0, 0, 0, 0);
                color: #808080;
                display: block;
                font-family: 'Lucida Console';
                font-size: 18px;
                line-height: 54px;
                padding: 0 25px;
                text-decoration: none;
                text-transform: uppercase;
            }

            /* onhover styles */
            .menu li:hover {
                background-color: #1c1c1c;
                background: -moz-linear-gradient(#1c1c1c, #1b1b1b);
                /*background: -ms-linear-gradient(#1c1c1c, #1b1b1b);*/
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c1c1c), color-stop(100%, #1b1b1b));
                background: -webkit-linear-gradient(#1c1c1c, #1b1b1b);
                background: -o-linear-gradient(#1c1c1c, #1b1b1b);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b');
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b')";
                background: linear-gradient(#1c1c1c, #1b1b1b);
                border-bottom: 2px solid #222222;
                border-top: 2px solid #1B1B1B;
            }

                .menu li:hover > a {
                    border-radius: 5px 0 0 0;
                    border-left: 3px solid #C4302B;
                    color: #C4302B;
                }

        /* submenu styles */
        .submenu {
            left: 0;
            max-height: 0;
            position: absolute;
            top: 100%;
            z-index: 0;
            -webkit-perspective: 400px;
            -moz-perspective: 400px;
            -ms-perspective: 400px;
            /*-o-perspective: 400px;*/
            perspective: 400px;
        }

            .submenu li {
                opacity: 0;
                -webkit-transform: rotateY(90deg);
                -moz-transform: rotateY(90deg);
                -ms-transform: rotateY(90deg);
                -o-transform: rotateY(90deg);
                transform: rotateY(90deg);
                -webkit-transition: opacity .4s, -webkit-transform .5s;
                -moz-transition: opacity .4s, -moz-transform .5s;
                /*-ms-transition: opacity .4s, -ms-transform .5s;*/
                -o-transition: opacity .4s, -o-transform .5s;
                transition: opacity .4s, transform .5s;
            }

        .menu .submenu li:hover a {
            border-left: 3px solid #454545;
            border-radius: 0;
            color: #ffffff;
        }

        .menu > li:hover .submenu, .menu > li:focus .submenu {
            max-height: 2000px;
            z-index: 10;
        }

            .menu > li:hover .submenu li, .menu > li:focus .submenu li {
                opacity: 1;
                -webkit-transform: none;
                -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                transform: none;
            }

        /* CSS3 delays for transition effects */
        .menu li:hover .submenu li:nth-child(1) {
            -webkit-transition-delay: 0s;
            -moz-transition-delay: 0s;
            -ms-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s;
        }

        .menu li:hover .submenu li:nth-child(2) {
            -webkit-transition-delay: 50ms;
            -moz-transition-delay: 50ms;
            -ms-transition-delay: 50ms;
            -o-transition-delay: 50ms;
            transition-delay: 50ms;
        }

        .menu li:hover .submenu li:nth-child(3) {
            -webkit-transition-delay: 100ms;
            -moz-transition-delay: 100ms;
            -ms-transition-delay: 100ms;
            -o-transition-delay: 100ms;
            transition-delay: 100ms;
        }

        .menu li:hover .submenu li:nth-child(4) {
            -webkit-transition-delay: 150ms;
            -moz-transition-delay: 150ms;
            -ms-transition-delay: 150ms;
            -o-transition-delay: 150ms;
            transition-delay: 150ms;
        }

        .menu li:hover .submenu li:nth-child(5) {
            -webkit-transition-delay: 200ms;
            -moz-transition-delay: 200ms;
            -ms-transition-delay: 200ms;
            -o-transition-delay: 200ms;
            transition-delay: 200ms;
        }

        .menu li:hover .submenu li:nth-child(6) {
            -webkit-transition-delay: 250ms;
            -moz-transition-delay: 250ms;
            -ms-transition-delay: 250ms;
            -o-transition-delay: 250ms;
            transition-delay: 250ms;
        }

        .menu li:hover .submenu li:nth-child(7) {
            -webkit-transition-delay: 300ms;
            -moz-transition-delay: 300ms;
            -ms-transition-delay: 300ms;
            -o-transition-delay: 300ms;
            transition-delay: 300ms;
        }

        .menu li:hover .submenu li:nth-child(8) {
            -webkit-transition-delay: 350ms;
            -moz-transition-delay: 350ms;
            -ms-transition-delay: 350ms;
            -o-transition-delay: 350ms;
            transition-delay: 350ms;
        }

        .submenu li:nth-child(1) {
            -webkit-transition-delay: 350ms;
            -moz-transition-delay: 350ms;
            -ms-transition-delay: 350ms;
            -o-transition-delay: 350ms;
            transition-delay: 350ms;
        }

        .submenu li:nth-child(2) {
            -webkit-transition-delay: 300ms;
            -moz-transition-delay: 300ms;
            -ms-transition-delay: 300ms;
            -o-transition-delay: 300ms;
            transition-delay: 300ms;
        }

        .submenu li:nth-child(3) {
            -webkit-transition-delay: 250ms;
            -moz-transition-delay: 250ms;
            -ms-transition-delay: 250ms;
            -o-transition-delay: 250ms;
            transition-delay: 250ms;
        }

        .submenu li:nth-child(4) {
            -webkit-transition-delay: 200ms;
            -moz-transition-delay: 200ms;
            -ms-transition-delay: 200ms;
            -o-transition-delay: 200ms;
            transition-delay: 200ms;
        }

        .submenu li:nth-child(5) {
            -webkit-transition-delay: 150ms;
            -moz-transition-delay: 150ms;
            -ms-transition-delay: 150ms;
            -o-transition-delay: 150ms;
            transition-delay: 150ms;
        }

        .submenu li:nth-child(6) {
            -webkit-transition-delay: 100ms;
            -moz-transition-delay: 100ms;
            -ms-transition-delay: 100ms;
            -o-transition-delay: 100ms;
            transition-delay: 100ms;
        }

        .submenu li:nth-child(7) {
            -webkit-transition-delay: 50ms;
            -moz-transition-delay: 50ms;
            -ms-transition-delay: 50ms;
            -o-transition-delay: 50ms;
            transition-delay: 50ms;
        }

        .submenu li:nth-child(8) {
            -webkit-transition-delay: 0s;
            -moz-transition-delay: 0s;
            -ms-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                @*@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            @*<div class="navbar-collapse collapse">*@
            <div class="container" id="main" role="main">
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    
                    <li>
                        @Html.ActionLink("Projects", "Index", "Project")
                    </li>
                    <li class="active">
                        @Html.ActionLink("UserProject", "Index", "ManageUserProject")

                    </li>
                    <li>
                        <a href="#">&nbsp;&nbsp;Menu</a>
                        <ul class="submenu">
                            <li>@Html.ActionLink("APIs", "Index", "APIs")</li>
                            <li>@Html.ActionLink("Websites", "Index", "Websites")</li>
                            <li>@Html.ActionLink("Protocols", "Index", "Protocols")</li>
                            <li>@Html.ActionLink("Environments", "Index", "Environments")</li>
                            <li>@Html.ActionLink("ServerEnvironments", "Index", "ServerEnvironments")</li>
                            <li>@Html.ActionLink("Databases", "Index", "Databases")</li>
                            <li>@Html.ActionLink("Bitbuckets", "Index", "Bitbuckets")</li>
                            <li>@Html.ActionLink("Servers", "Index", "Servers")</li>
                        </ul>
                    </li>
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="text-center">User&nbsp;&nbsp;&nbsp;</a>
                                <ul class="submenu">
                                    <li>
                                        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", style = "font-size:small" })
                                    </li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li> @Html.ActionLink("Roles ", "Index", "ManagerRoles", routeValues: null, htmlAttributes: new { title = "Roles" }) </li>
                                        <li> @Html.ActionLink("Users ", "Index", "ManageUserRoles", routeValues: null, htmlAttributes: new { title = "Users" })</li>
                                        <li>@Html.ActionLink("Email ", "Index", "Emails", routeValues: null, htmlAttributes: new { title = "Email" })</li>
                                    }
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                </ul>
                            }
                        }
                        else
                        {
                            <a>Wellcome!</a>
                            <ul class="submenu">
                                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                            </ul>
                        }
                    </li>
                </ul>
            </div>

            @*@Html.Partial("_LoginPartial")*@
        </div>
    </div>
    @*</div>*@
    @if (TempData["AlertMesage"] != null)
    {
        <div class="alert @TempData["AlertType"]  text-center  " id="AlertBox">
            <br />
            <br />
            <p> @TempData["AlertMesage"] </p>
        </div>

    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(1000).slideUp(1000);
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
